[2010-01-26 06:31] eriwen opened #1 "Chrome stack not always consistent with others"
Chrome seems to report some functions as anonymous when they are not. For instance:

[code]

reports a stack containing only an anonymous function.

[2010-01-28 19:39] dfabulich opened #2 "In IE, stack is broken if you use recursion"
Run this:

[code]

Actual: "{anonymous}(),printStackTrace(),recurse(false),recurse(false),recurse(false),recurse(false),recurse(false),recurse(false),recurse(false),recurse(false)"

Expected: "{anonymous}(),printStackTrace(),recurse(true),recurse(false)"

I think this is endemic to the code's "other" approach: arguments.caller just doesn't provide enough information to unwind the stack when the ca

[2010-04-23 11:29] jrumbinas opened #3 "Stack trace retrieved from argument.callee lacks is very uninformative"
If OOP approach is used all functions are anonymous (in Safari, Opera 9+, IE, and others). In this case generated stack trace is absolutely useless:
    {anonymous}()
    {anonymous}()
    {anonymous}()
    {anonymous}()
    {anonymous}()

It is not so hard to take function source (arguments.callee.toSource()) and find it in the source file. From that, line number can be calculated and real functi

[2010-04-28 04:22] #1 closed, assigned to nobody

[2010-05-17 10:36] victor-homyakov opened #4 "Typo: printStackTrace in script, but printStacktrace in readme"
In two of three examples of printStackTrace usage in readme file incorrect case "printStacktrace" is used. I've copy-pasted one of examples from readme directly into my page to find one error and lost about a half of hour to find and fix another error - why printStackTrace would not work (because of mistyped printStacktrace).

[2010-05-17 10:50] victor-homyakov opened #5 "Option guess is always true"
Result of
    var guess = (options && options.guess) ? options.guess : true;
will always be true for boolean options.guess (even for {guess:false}).

[2010-05-17 14:32] #4 closed, assigned to nobody

[2010-05-27 20:29] #5 closed, assigned to nobody

[2010-10-03 03:43] eriwen opened #6 "In Firefox, stacktrace from window.onerror loses bottom of stack"
In IE, the stack is preserved when calling printStackTrace() from window.onerror. However, Firefox does not "call" window.onerror from a failing function, therefore part of the stack is lost.

One solution may be to figure out the top of the stack from the file and line number passed in to window.onerror. This would be implemented as some sort of option that tells stacktrace.js where to look, and

[2010-10-05 01:56] eriwen opened #7 "Dojo 1.5 causes stack traces requested from window.onerror to fail silently"
focus.xd.js seems to do some hackery with the window object that causes printStackTrace() to fail when it tries to cause an Error - (0)(); This failure is silent because all errors within window.onerror functions fail silently to prevent an infinite loop of, um, Errors.

See http://eriwen.com/examples/silentfail.html for an example.

It seems that using "throw 'error'" instead of (0)(); circumvent

[2010-10-21 08:37] mikkotikkanen opened #8 "javascript-stacktrace is not JSLint valid code"
There are multiple issues that JSLint catches with javascript-stacktrace. I am working those through but there are some that I have been unable to solve.

For example, the "(0)();" rows come out with "Bad invocation." -error.

And, "var reStack = /{anonymous}(.*)@(\w+:\/\/([-\w.]+)+(:\d+)?[^:]+):(\d+):?(\d+)?/;" -row has three separate errors: Unescaped '{', Unescaped '}' and Unescaped '-'.

[2010-10-21 21:50] #8 closed, assigned to nobody

[2010-11-25 08:50] JoeEven opened #9 "In IE and window.onerror, stack trace is uninformative"
Issue 1:

 Run this:

<pre><code>&lt;html&gt;&lt;head&gt;&lt;script src="stacktrace.js"&gt;&lt;/script&gt;
&lt;script&gt;
function foo() {
    bar(2);
}
function bar(n) {
    if (n &lt; 2)
        abc();
    bar(n-1);
}
    var lastError;
    try {
        // error producing code
        foo();
    } catch(e) {
       lastError = e;
       // do something else with error
    }

    // Returns stac

[2010-12-02 15:56] victor-homyakov opened #13 "Another way to make exception"
What do you think about using instead of
      try {
        var _err = __undef__ << 1;
      } catch (e) {
        return e;
      }
this sample:
      try {
        throw new Error("my error");
      } catch (e) {
        return e;
      }

[2011-02-28 12:01] BenjaminNolan opened #14 "IE 8 - {anonymous}(TypeError: '__undef__' is undefined)"
Not really sure what this is doing, but the error above is generated by line 70 of printStackTrace.implementation.prototype.run().

var _err = __undef__ << 1;

Kills IE8 dead.

[2011-03-01 01:46] #6 closed, assigned to nobody

[2011-04-10 00:00] #14 closed, assigned to nobody

[2011-04-10 00:01] #2 closed, assigned to nobody

[2011-04-23 15:57] eriwen opened #18 "Function instrumentation does not work as expected in Chrome 12"
Running function instrumentation test case at http://eriwen.com/js/stacktrace/testcase4.html loses bottom of stack in Chrome 12.

See test for details.

[2011-04-29 22:59] eriwen opened #19 "window.onerror functionality does not behave as expected in IE9"
See http://eriwen.com/js/stacktrace/testcase3.html in IE9 for details

[2011-05-10 12:32] Nitrogenycs opened #21 "Common output format"
Right now the different browsers return the individual entries in a different format, e.g. chrome it looks like

[code]

While the same code in firefox looks like

[code]

Opera and other browser look yet different.

It might be useful if stacktrace.js entries would be full objects with members "function", "url", "line", "column".  So one line of the above output would look like

entry = { functio

[2011-05-28 16:55] #19 closed, assigned to nobody

[2011-05-30 06:57] danielgross opened #23 "Script isn't UTF-8 encoded"
Causes it to fail as a chrome extension content script.

Changing the Ø character in line 5:
Øyvind Sean Kinsey http://kinsey.no/blog (2010)

Fixes the issue.

[2011-05-30 12:43] #23 closed, assigned to nobody

[2011-07-12 03:51] #18 closed, assigned to nobody

[2011-07-12 03:53] eriwen opened #25 "findFunctionName does not work with multiple functions on the same line"
See "findFunctionName" unit test. Brief synopsis:

    var a = function() {}, b = function() {};

Will always only capture a().

[2011-08-04 09:18] rakeshpai opened #26 "Errors trapped in window.onerror lacks stacktrace"
I tested this in at least Firefox and Chrome, and the stack trace is completely uninformative if called from window.onerror. I guess this makes sense, since by the time the error has reached the onerror handler, the stack has already been unrolled and discarded. Since there's no error object that can be used, printStackTrace creates it's own error object. Since this is now the new point where the

[2011-09-20 11:53] skarmats opened #27 "Firefox 6.0.2 silently leaves execution of printStackTrace() prematurely"
In Firefox 6 and a recent check-out of javascript-stacktrace, Firefox silently leaves execution of printStackTrace() prematurely

Here is a reduced code snippet that exhibits the described behavior:

[code]

[2011-10-21 15:32] kg opened #28 "printStackTrace potentially mutates every argument list on the stack"
The stringifyArguments function mutates arrays in-place, which means it may end up mutating every argument list on the stack when you call printStackTrace. Because it recurses, any arrays or objects passed as arguments will also get mutated. Every call, for example, adds a pair of quotes around every string in the argument list.

Naturally, this breaks EVERYTHING.

Here's a fixed version of string

[2011-10-21 15:41] #28 closed, assigned to eriwen

[2011-10-22 18:06] krisnye opened #29 "Please add support for nodejs from command line"
Sorry, don't have the time at the moment to do an official pull request.  I implemented nodejs support for stacktrace locally.

Code looks like this:

[code]

[2011-10-30 08:56] Miroff opened #31 "Missing file names in Opera 11.51 (Linux)"
In Opera 11.51 (Linux) there is no file names in stack trace. Stacktrace looks like:

[code]

In other browsers stacktrace of the same error contains correct file names.

[2011-11-01 02:39] #3 closed, assigned to eriwen

[2011-11-01 02:43] #7 closed, assigned to nobody

[2011-11-05 15:59] #31 closed, assigned to nobody

[2011-11-05 16:04] #13 closed, assigned to nobody

[2011-11-10 03:47] brightsparc opened #32 "Capture call stack outside of "window.onbeforeunload" for chrome"
Hi,

I am trying to use this library to capture the origin of a change to window.location and have had some success for FF and IE, but chrome doesn't seem to preserve the source of the originating window.location change.

Any ideas on how to achieve this, or another work around to get the same result?

Cheers,
Julian.

[2011-11-10 23:55] eriwen opened #33 "Bundle as Chrome extension"
Seems useful enough. How hard could it be?

[2012-03-02 21:13] HardySoftware opened #35 "Incomplete Infomation"
Html and JavaScript source code at http://jsbin.com/iyifuh/9 I am not 100% sure how to make JSBIN work, but you can view source to capture the source codes. My browser is IE8.

This is what it captured, but did not tell me function name.

error: at document path 'http://localhost:2692/'.
  at function
  at function
  at function
  at function

[2012-03-24 16:34] RedAdder opened #36 "firefox + loading script from file = not well-formed message"
I get not well-formed messages in the javascript log when working with a html+js page on the file system.
It might be related to firefox attempting to parse the ajax response as JSON.

I tried to find a workaround, but except turning the function name feature off (which is working), I didn't find a solution.

[2012-03-28 14:40] #35 closed, assigned to nobody

[2012-03-29 08:11] #27 closed, assigned to nobody

[2012-04-04 11:22] hennr opened #37 "Readme points to http://www.stacktracejs.org/ which is down"
http://www.stacktracejs.org/ is down, will it come back at some time?

Otherwise the readme should get updated.

[2012-04-04 15:12] #37 closed, assigned to nobody

[2012-06-12 15:08] gregbala opened #40 "line number of error in try...catch on IPhone's safari"
Hey Guys

I stumbled upon this as I was trying to solve my issue:

I must capture all errors using try...catch block. On safari, the object that is passed to catch as a "line" properly that gives me the line of where the original error occurred. on I Phone, all I get is "message" property - no line number of the original error.

Is there a solution for this problem? I see this utility also does no

[2012-07-16 04:59] saji89 opened #41 "stacktracejs.com bookmarklet is broken"
The bookmarklet is broken.
This happens because the js file is unable to load (http://eriwen.com/js/stacktrace.js).
Please bring back that file.

[2012-07-16 15:16] #41 closed, assigned to eriwen

[2012-10-02 08:53] iccir opened #42 "findFunctionName regex slightly off."
First, thanks for the great project!

I found a slight issue in findFunctionName: the regex doesn't recognize the '$' character in function names, which is valid (along with underscore) per `7.6 Identifier Names and Identifiers` of the ECMA-262 specification.  Also, numbers are not allowed as the first character of identifiers.

On my local copy, I changed the following part of each regular expres

[2012-10-03 14:46] #42 closed, assigned to eriwen

[2012-12-10 09:25] TimeForAChange opened #44 "Support for source maps?"
It would be nice to have support for source maps, because stack traces for minified concatenated files are quite useless. This would seem a most excellent enhancement :)

http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/
http://www.sitepoint.com/what-are-source-maps-all-about/

This github project may have it: https://github.com/janekp/mapstrace

The minifier yuglify version 2 seem

[2013-01-11 16:51] devinrhode2 opened #45 "Combine efforts with TraceKit?"
Might be of interest, https://github.com/occ/TraceKit
I've been doing plenty of work on the project, along with @occ

TraceKit supports IE. (to the extent possible)

When we combine efforts, we just get more collective bug fixes and features. Both projects basically do the same thing, so I think it makes sense to do this eventually.

[2013-01-11 18:39] dms-it opened #46 "Make ExtJS wrapper"
It is desirable to have Ext js class that will implement stacktrace functionality. Actually I`ve made one like this:
![ext_st](https://f.cloud.github.com/assets/3246791/60741/995f9c2a-5c1e-11e2-8235-b4188b65f9f5.png)

[2013-01-30 18:59] jphaas opened #47 "printStackTrace throws exception when called from "use strict" code"
In strict mode, use of argument.caller throws an exception.  This means that if there is strict mode code anywhere in the call stack, printStackTrace fails.   Here's a jsfiddle that illustrates this: http://jsfiddle.net/SVN4D/    (I'm passing an integer as the error object to force IE-style stacktrace generation, since the implementation for webkit et al doesn't rely on argument.caller).

Instead

[2013-02-25 19:30] HardySoftware opened #48 "Logged Stack Trace are all anonymous?"
I captured some production log, in one example user used IE9, and the logged message is

at {anonymous}()&#xA;  at printStackTrace()&#xA;  at {anonymous}(#object,&quot;error&quot;,&quot;&quot;)&#xA;  at {anonymous}(#object,[#object...&quot;&quot;])&#xA;  at d(12031,&quot;&quot;,#object,&quot;&quot;)&#xA;  at {anonymous}()

Any clue how to interpret "anonymous"?

[2013-06-19 07:05] MichaelLearnvest opened #49 "Please change the version in components.json from 0.5 to the valid 0.5.0"
This will not run if you do bower install stacktrace and is technically not a valid components.json file

[2013-06-22 00:41] cowwoc opened #50 "Off by one bug in line numbers when guessing anonymous function"
Chrome 27.0.1453.116 m

When I use `printStackTrace({e: error})` on anonymous functions the line numbers need to be smaller by one.

Can you reproduce this on your end?

[2013-06-23 15:38] #49 closed, assigned to nobody

[2013-06-23 16:24] #48 closed, assigned to nobody

[2013-06-26 15:17] Moboro opened #51 "Exception thrown by StackTrace.js when printStackTrace() is called"
If I'm just doing something wrong then my apologies up front.  I didn't see a forum so I'm posting this here.  I'm getting the following Exception when printStackTrace() is called:

TypeError: Object #<Object> has no method 'undef'

This happens in Chrome.  In IE I see createException in the stack trace but not the above error message.  What can I do about this?

[2013-07-12 12:38] #51 closed, assigned to nobody

[2013-07-22 18:51] foxx opened #55 "Chrome - TypeError: Object #<Object> has no method 'undef'"
Seems to be happening again... see related https://github.com/eriwen/javascript-stacktrace/issues/18

Chrome 28.0.1500.72

[code]

Triggered with;

[code]

[2013-07-25 14:35] aliscott opened #56 "Chrome is not stripping brackets out of stacktrace"
The stacktrace parsing is returning different results for Chrome and Firefox.
The Chrome parsing is leaving ()s around the filename:

For example:

Chrome:
["testError (file://localhost/Users/ali/Desktop/test.html:6:5)", "{anonymous}()@file://localhost/Users/ali/Desktop/test.html:12:1"]

Firefox:
["testError@file:///Users/ali/Desktop/test.html:6", "{anonymous}()@file:///U...li/Desktop/test.html:12

[2013-07-31 20:20] #56 closed, assigned to nobody

[2013-08-05 05:11] #50 closed, assigned to nobody

[2013-08-09 04:23] simonexmachina opened #57 "Stack overflow error in IE8"
Since commit `3843057` I get stack overflows in IE8. I tried to reproduce it in a Fiddle, but it's obviously related to one of the other includes in my page. Sorry I can't provide more info, but I have a test case which I can run if you want to see if you've fixed it.

[2013-08-09 04:56] #57 closed, assigned to nobody

[2013-08-09 21:24] niemyjski opened #58 "getStackTrace implementation."
I'd love to be able to call a method like getStackTrace which would return an array of frames instead of an array of strings. I have a custom model I need to populate and send to a service. Is there anyway to do this or can this feature be added!

[2013-08-16 03:17] EleventyOne opened #59 "stacktrace throws SyntaxError: illegal character (FF 23)"
I've got a very basic exception class in .js that makes use of the stacktrace.js tool (which is AWESOME).

[code]

However, I was doing some testing today ensuring my project can handle html-escaping properly and I noticed that if `message` contains escaped quotes, I got an exception. For instance, if `message` is `"<script>alert(\"Security fail!\");</script>"` I get the following exception thrown

[2013-08-23 21:50] #59 closed, assigned to nobody

[2013-08-28 17:24] cowwoc opened #60 "Exception message is being dropped silently"
stacktrace.js is dropping the exception message unexpectedly when called from within a timer.

Testcase: http://jsfiddle.net/7bkKL/1/
Version tested: 82fdc867806a35b6166a7cb83d7acc5a78085443 (latest as of today)
Browser: Chrome 29.0.1547.57 m

If you replace printStackTrace() by "throw error" you will see the full stack-trace printed _without_ the exception message.

[2013-09-13 08:46] #60 closed, assigned to nobody

[2013-09-19 14:45] filiptc opened #61 ""printStackTrace is not defined" error with RequireJS"
Im using printStackTrace (HEAD) on RequireJS 2.1.6 and am getting `printStackTrace is not defined` upon calling `printStackTrace()`.

[code]

I followed the trace and [line 14 of stacktrace.js](https://github.com/eriwen/javascript-stacktrace/blob/master/stacktrace.js#L14) is called but does not seem to do its job for some reason.

Any help is greatly appreciated. =)

[2013-10-03 07:49] #61 closed, assigned to nobody

[2013-10-06 22:26] #55 closed, assigned to nobody

[2013-10-30 20:35] acthp opened #62 "error message oddly incorporated into stack trace"
The docs say the error message is not included in the stack trace, however in chrome I'm seeing every line of the error message with "anonymous" stuck at the front in a meaningless way:

[code]

... snipped some lines here ...

[code]

[2013-11-14 20:39] #62 closed, assigned to nobody

[2014-01-05 19:27] #33 closed, assigned to nobody

[2014-01-19 17:12] #47 closed, assigned to nobody

[2014-01-23 23:30] fresheneesz opened #64 "Example doesn't work"
`<script type="text/javascript" src="path/to/stacktrace.js" />` doesn't seem to work in chrome. Change it to:

`<script src="path/to/stacktrace.js"></script>`

[2014-01-23 23:45] fresheneesz opened #65 "Trace shouldn't contain stacktrace.js internals"
The library should remove the parts of the stack that are stactrace.js internals - that won't be useful information to anybody.

[2014-01-24 00:37] fresheneesz opened #66 "Update NPM"
The NPM package seems to be out of date (at 0.5.0). Mind updating it?

[2014-01-26 03:25] #45 closed, assigned to nobody

[2014-01-26 03:28] #58 closed, assigned to nobody

[2014-01-26 03:28] #29 closed, assigned to nobody

[2014-01-27 18:17] #64 closed, assigned to nobody

[2014-01-27 18:19] victor-homyakov opened #67 "Update http://stacktracejs.com accordingly to changes in README.md"

[2014-01-30 21:43] vladtscripts opened #68 "misnamed function printStackTrace()"
The `printStackTrace()` method doesn't do what it says it does. To print a stack trace means to display it to the user. A method that merely returns a value is called a `getter`, not a `printer`. In other words, `printStackTrace()` acts the way a function called `getStackTrace()` should act. A function's name shouldn't contradict what the function does. Anyone reading the words `printStackTrace()`

[2014-02-05 11:45] HNygard opened #69 "Bower install - Version declared in the json (0.5.2) is different than the resolved one (0.5.3)"
Getting a warning when installing using bower

[code]

I notice that bower is using https://github.com/eriwen/javascript-stacktrace and not the new stacktracejs account. Is that related?

[2014-02-17 22:32] #69 closed, assigned to nobody

[2014-03-25 12:32] sivathangeswaran opened #71 "printStackTrace is not defined error when I script reference stacktrace.js after require.js"
printStackTrace is not defined error when I script reference stacktrace.js after require.js

In my project we have require.js script reference which already exists in Master page, but I am not using it for my partial view. I am trying to reference stacktrace.js in my partial view and getting below error. But if I load stacktrace.js before require.js from Master Page then it works.

Uncaught Error:

[2014-03-26 10:36] mickaeltr opened #72 "Deploy v0.6.0 on cdnjs"
Only v0.5.0 and v0.5.3 are deployed on cdnjs at the moment: http://cdnjs.com/libraries/stacktrace.js/
It would be nice to have v0.6.0 too. Thanks.

[2014-03-26 13:32] mickaeltr opened #73 "printStackTrace throws exception with "use strict" code and PhantomJS"
Hello,

Trying to make use of stacktrace.js in my [console.js](https://github.com/mickaeltr/console.js) project, I am getting errors when running unit tests with [PhantomJS](http://phantomjs.org/):

[code]

It seems like it is kind of the same bug as #47

[2014-03-27 13:45] #72 closed, assigned to nobody

[2014-04-24 00:14] mitar opened #76 "Not normalized stack in PhantomJS"
It seems that stack in PhantomJS is not normalized? I am getting this as output:

[code]

While in other browsers I am getting `@` between function name and location.

[2014-04-28 15:24] fresheneesz opened #78 "expose file cache overriding methods"
I'm currently using stacktrace.js in a module that also needs to have access to the source of scripts. It would be nice to not have to download the files twice. Looks like i can probably access `sourceCache`, but it would be more general to have overriding functions that redefined how the cache is accessed like this:

[code]

[2014-05-05 19:22] fresheneesz opened #79 "Options `guess` parameter not correctly defaulting to true"
When you call `printStackTrace({e:e})`, it does not default `guess` to true, like it does when you call it with no arguments. I doubt this was intentional.

[2014-05-05 22:40] fresheneesz opened #80 "stacktrace.js breaks in strict mode in IE 10"
I'm bundling stacktrace.js with my other modules using browserify, and the entrypoint function declares "use strict". I'm not sure why this is causing IE to evaluate stacktrace.js itself with strict mode (I suspect its not supposed to), but it's causing stacktrace.js to throw an exception in this case.

For some reason, the exception is being labeled as mode 'other' (instead of 'ie', even though t

[2014-05-05 23:08] #80 closed, assigned to nobody

[2014-05-06 19:54] fresheneesz opened #81 "Make ajax calls asynchronous"
The fact that the ajax calls are synchronous is actually giving me a bit of trouble because of this bug: https://code.google.com/p/chromium/issues/detail?id=368444

They're also causing an absolutely awful experience when a server hangs in response to a request.

[Synchronous calls are even being deprecated by browsers](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest)

This is givi

[2014-05-06 20:52] fresheneesz opened #82 "Make it clearer what is and isn't supported in IE when passing in exceptions"
Passing in execeptions is in fact supported in IE - but they have to be exceptions that have been thrown. This is at least true in IE 10, and likely true in other versions. This should be noted in the docs.

[2014-05-07 16:06] steaks opened #83 "Include a standard way to access a minified version of stacktrace.js"
I'm not sure if the project leaders have elected to not include a standard way to access a minified version of stacktrace.js (i.e. through a url similiar to https://rawgithub.com/stacktracejs/stacktrace.js/master/stacktrace.js).  It seems like a useful enhancement.

[2014-06-26 07:42] Flowkap opened #85 "Only full anonymous stacktrace for IE9 in AMD code"
We're using the latest dojotoolkit and running full AMD featured code.

If we'Re using stacktrace.js we noly get traces like:

[code]

I assume that it has todo with the fact that AMD code is running on anonymously created factory functions within the calls to define.

Is there something I missed? {guess: true} does not help of course as nothing is included within the trace which is of use.

Worki

[2014-07-01 13:07] andreineculau opened #86 "publish new version?"
last version is from ~~july 2013~~ february 2014, and there are notable fixes meanwhile

UPDATE: judged incorrectly by the "bump version" commit, although the tag is from february 2014. I hope the tag hasn't been moved around

[2014-07-08 17:20] DannyZB opened #87 "Completely useless stack trace when implemented inside window.onerror"
I push errors to PHP in window.onerror
I keep getting these useless stack traces and got no idea what to do to fix it :

Monday 7th of July 2014 04:00:15 PM : 70.173.29.45 - Error in https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js on line 0: Script error.
Stack Trace:
printStackTrace.implementation.prototype.createException@https://www.seedr.co.il/js/stacktrace-min-0.4.js:2:197
p

[2014-08-13 17:04] eriwen opened #88 "Create NuGet package"
https://www.nuget.org/

[2014-08-14 14:18] ghost opened #89 "Possible new release"
Hi,

I was wondering on when a new release will be available. I need the fix #75, but I need to install it using bower. If possible a release would be great.

Thanks

[2014-08-16 16:16] #73 closed, assigned to nobody

[2014-08-16 16:48] #89 closed, assigned to nobody

[2014-08-16 16:49] #86 closed, assigned to nobody

[2014-08-16 17:00] #66 closed, assigned to nobody

[2014-08-17 11:28] pkozlowski-opensource opened #90 "Extract stack-track parsing"
OMG, this library is awesome, so much effort into dealing with inconsistencies (read: craziness) of stack traces in different browsers!

Now, it would be totally, absolutely awesome if this library could be split into smaller, more focused pieces. For example in https://github.com/lucassus/karma-mocha we've got the stack-trace filtering logic that is getting harder and harder to maintain so I woul

[2014-08-30 23:47] iccir opened #91 "stacktracejs.com is 404"
http://www.stacktracejs.com/ is showing a 404.

[2014-09-01 02:23] #46 closed, assigned to nobody

[2014-09-01 02:27] #71 closed, assigned to nobody

[2014-09-09 01:48] #91 closed, assigned to nobody

[2014-09-21 07:49] PeterDaveHello opened #92 "Minified file in npm package"
Hi there,
I'm Peter from cdnjs.com, we want to serve all the libs via auto-update scheme, don't know if you can provide minified stacktrace.js like stacktrace.min.js in the npm package? so that we can setup auto-update for it, thanks!

[2014-10-07 01:53] #90 closed, assigned to nobody

[2014-10-07 01:57] #21 closed, assigned to eriwen

[2014-10-07 02:04] #87 closed, assigned to nobody

[2014-10-07 04:22] bjornstar opened #94 "component require failure"
[code]

You need to list `error-stack-parser` in your `component.json`

[2014-10-07 22:43] #94 closed, assigned to nobody

[2014-10-07 22:49] eriwen opened #95 "Use stack-generator if error.stack is undefined"
`new Stacktrace.get()` should generate a stacktrace if one is not defined.

This should _avoid_ requiring stack-generator and behave nicely in strict mode.

[2014-10-07 23:09] eriwen opened #96 "Document window.onerror usage in README.md"
Show examples and browser support for error objects included in calls to `window.onerror`

[2014-10-07 23:09] #26 closed, assigned to eriwen

[2014-10-07 23:13] #9 closed, assigned to nobody

[2014-10-07 23:15] #32 closed, assigned to nobody

[2014-10-07 23:20] #68 closed, assigned to nobody

[2014-10-07 23:59] #67 closed, assigned to nobody

[2014-10-08 00:03] #78 closed, assigned to nobody

[2014-10-08 03:43] eriwen opened #97 "RFC: Allow multiple filters on stack traces"
New API method to allow users to specify multiple filters on StackFrame objects.

Proposal:

[code]

The idea here that one can add filters as they please.

[2014-10-08 22:22] #95 closed, assigned to nobody

[2014-10-20 03:24] #81 closed, assigned to nobody

[2014-11-17 04:18] #83 closed, assigned to nobody

[2014-11-17 04:29] #92 closed, assigned to eriwen

[2014-11-17 04:30] #97 closed, assigned to nobody

[2014-11-17 05:04] #40 closed, assigned to nobody

[2014-11-17 05:06] #36 closed, assigned to nobody

[2014-11-17 06:04] PeterDaveHello opened #100 "version info in master branch"
will you like to update the version field in package.json in master branch?
current v1.0.0 may make people confused, thanks!

[2014-11-17 14:01] #100 closed, assigned to nobody

[2014-11-20 05:16] eriwen opened #101 "Re-add component(1) support"
Temporarily took this out. Don't forget to add back in before 1.0 release.

[2014-11-21 13:02] avalez opened #102 "Pass name when calling define()"
Currently anonymous define() in stacktrace.js:line 14 (see below) causes problems:
a) with [require.js](uirejs.org): http://requirejs.org/docs/errors.html#mismatch)
b) with [almond.js](https://github.com/jrburke/almond): Uncaught TypeError: Cannot read property 'splice' of undefined almond.js:413

(function(global, factory) {
    if (typeof exports === 'object') {
        // Node
        module.ex

[2014-11-28 04:59] #65 closed, assigned to nobody

[2014-12-09 09:53] lakano opened #103 "ES6Promise is not defined"
Hello !

Thanks for your works, but I can't uses it, I have this error under Firefox 34 and Chromium 40 ( I'm under GNU/Linux ) :

"ES6Promise is not defined"

I'm using the current version found here :
https://rawgit.com/stacktracejs/stacktrace.js/master/stacktrace.js

Thanks in advance for your help !

[2014-12-12 03:31] #103 closed, assigned to nobody

[2014-12-16 15:24] hernaneg350 opened #104 "Re-instrumenting an undefined function will Result in infinite recursion"
API Usage for StacktraceJS defines the following example for function instrumentation:

    function logStackTrace(stack) {
        console.log(stack.join('\n'));
    }

    var p = new printStackTrace.implementation();
    p.instrumentFunction(this, 'baz', logStackTrace);

    function foo() {
        var a = 1;
        bar();
    }

    function bar() {
        baz();
    }
    foo(); //Will log

[2015-01-18 02:19] eriwen commented on #82
@mancioshell It is supported in IE10+ as long as the Error has a `stack` property.

[2015-01-26 04:18] #102 closed

[2015-01-26 04:22] eriwen opened #105 "Take advantage of uglifyJS2 mangler"
Currently stacktrace.min.js is sitting at 18k (uncompressed), 5.2k (compressed).

We can get it under 13k/4k if we use the mangler but finding all the things to exclude is non-trivial.

[2015-02-03 00:26] mbrgm commented on #44
Really looking forward to this!

[2015-02-03 00:30] eriwen commented on #44
@mbrgm You can test it out with what's on master. Your feedback would be greatly appreciated. Please submit any issues to stacktracejs/stacktrace-gps

[2015-02-03 03:04] niemyjski commented on #44
+1

[2015-02-04 20:55] mbrgm commented on #44
@eriwen I tried it, but maybe it's not working because I'm using webpack.

I put together [a quick example](https://github.com/mbrgm/stacktrace-js-sourcemaps-example.git). If you look at [`src/scripts/index.js#9-12`](https://github.com/mbrgm/stacktrace-js-sourcemaps-example/blob/master/src/scripts/index.js#L9-12), that's were I'd like to print the stacktrace of the caught ReferenceError, which is

[2015-02-04 20:58] eriwen commented on #44
@mbrgm Thanks for the thorough example. I'll get to this asap (probably before end of weekend).

[2015-02-06 01:42] cowwoc opened #107 "Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience"
Version 0.6.4

Chrome 40.0.2214.111 now gives a warning every time stacktrace.js is loaded: "Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/." (caused by line 373)

This is reproducible 100% of the time.

[2015-02-06 03:02] eriwen commented on #107
@cowwoc Thanks for the heads up.

I'm likely not going to fix this in v0.x because it requires somewhat fundamental changes to the API.
v1.x makes async requests, so this won't be problem.

I hope you'll consider trying v1.0 now or very soon. I'd love your feedback.

[2015-02-06 05:27] cowwoc commented on #107
@eriwen I was actually going to close this issue. Something was screwy in my machine state. After a clean-build cycle I could no longer reproduce this issue.

Re: v1.0, is the updated documentation and migration guide up?

[2015-02-06 15:55] eriwen commented on #107
Glad to hear it.

Re: v1.0, non-thorough API/Usage in the README on master. Migration guide pending. I'm sure you're aware that it's not released yet, but what's there is almost ready.

[2015-02-06 22:52] eriwen commented on #44
@mbrgm I got your example working by simply changing your `package.json` to point to `stacktrace.js/dist/stacktrace.min.js` which includes all dependencies.

I ran `./node_modules/.bin/webpack` and served up the build directory and got 7-entry Stack Trace. Is that what you wanted?

[2015-02-06 22:52] #107 closed

[2015-02-09 07:42] mbrgm commented on #44
@eriwen Could you maybe fork and push your working version? I'm able to get a stacktrace as well, but all of the entries point to the created bundle.js; the webpack-generated sourcemaps don't seem to be considered for resolving.

[2015-02-09 16:40] eriwen commented on #44
@mbrgm Ah, yes I misunderstood you.

That said, I've made some progress and I believe I've found a case where stacktrace-gps is failing too fast (it tries to GET the webpack:/// url from the source map and the browser throws an access denied error).

This has been *very* valuable. I'm going to get this fixed, then send you a pull request to your example repo as soon as I can!

[2015-02-11 04:52] fresheneesz commented on #78
@eriwen The source cache simply *isn't* "totally internal" to the project. It affects performance of other things, and that's an issue that can be worked around.

Also, chrome has issues dealing with multiple requests for the same resource: http://stackoverflow.com/questions/27513994/chrome-stalls-when-making-multiple-requests-to-same-resource

If the cache was exposed so it could be shared, this

[2015-02-17 04:32] fresheneesz opened #108 "Breaks for native forEach"
The following throws an error:

[code]

The error is:

[code]

Its having trouble parsing the `    at Array.forEach (native)` part in this Chrome stack trace string:

[code]

[2015-02-18 04:22] #108 closed

[2015-02-18 04:24] eriwen commented on #108
@fresheneesz error-stack-parser 1.1.2 has been published which handles this correctly. Please update.

[2015-02-26 21:45] jpcofr opened #109 "Null object at IE9 when loading page"
I've added the library to a page by adding the script from the CDN. When it finishes loading, at IE9, the following null exception occurs:

SCRIPT5007: Unable to get value of the property 'polyfill': object is null or undefined
stacktrace.js, line 12 character 5

[2015-03-04 08:49] fresheneesz opened #112 "Create stacktrace-gps singleton"
Currently, fromError creates a new instance of `StackTraceGPS` on every call. This means that GPS creates a completely new separate cache on every call (unless you pass an object for the `sourceCache` option) . Kind of makes the cache a moot point. I can create a pull request if you'd like.

[2015-03-04 20:07] fresheneesz commented on #112
If I'm going to do this tho, the way the "sourceCache" option works  needs to be clarified. We can make it do what it says in the readme and just merge the passed contents into stacktrace-gps's internal (singleton) cache. Or we could change the API so that you set the souceCache statically (not as an option to `fromError`).

[2015-03-04 20:18] fresheneesz commented on #112
Also, I believe you mentioned you liked the idea of storing promises in the sourceCache rather than plaintext, so that the souceCache can be populated immediately (instead of waiting for the request to complete, in which time many other requests for the same file may have been made). [My ajax module](https://github.com/fresheneesz/ajax) does exactly that if you'd like to use it, but the pattern is

[2015-03-05 19:29] yoav-zibin commented on #44
BTW, if anyone is looking for a one-time way to decode an exception (instead of planting client -side code to do it), you can use this:
http://yoav-zibin.github.io/emulator/decode_stacktrace/decode.html

I copied the script in
https://github.com/novocaine/sourcemapped-stacktrace/
and modified it a bit to handle Mozilla stacktraces (that have a slightly different format).

If you get CORS errors (i

[2015-03-08 00:21] eriwen commented on #112
This was done to avoid requiring `StackTrace` to be constructed. My hope is that

* Users of stacktrace.js don't care what objects are created as long as stacktrace creation is reasonably fast and..
* The browser cache works to avoid duplicate remote requests.

I agree that at this higher level of abstraction it makes the GPS cache less useful, but again I'd like users to not have to care. I think

[2015-03-08 00:22] eriwen commented on #109
@jpcofr To be clear this is the cdnJS CDN, correct?

It sounds like they may have the 1.0 version of StackTrace JS marked as 0.6.4

[2015-03-08 13:21] Septagram opened #113 "Why promises?"
I've been using version 0.6.0 for a while in one of the projects, with great success. However, just now I noticed that there's a newer version that relies on promises a lot, and that the top of the master branch *only* allows returning the stack trace as a promise.

I love promises myself and use them heavily. Promises make asynchronous operations wonderfully easy to implement. But getting stack t

[2015-03-08 17:10] eriwen commented on #113
In order to leverage source maps and other static analysis, ajax requests for map files and sources must be made.

Version 0.x of stacktrace.js users synchronous ajax for this purpose. That feature causes slowness and is being deprecated by browsers.

If you only want to parse a stacktrace in a cross browser way, you can use stacktracejs/error-stack-parser. Please let us know if that is insufficie

[2015-03-09 07:40] Septagram commented on #113
When you put it this way, it indeed makes sense, but I'd still appreciate if asynchrousness was optional, not mandatory.

[2015-03-09 07:40] #113 closed

[2015-03-09 07:41] Septagram commented on #113
Sorry, closed accidentally ((

[2015-03-10 12:27] jpcofr commented on #109
@eriwen yes, that is right, http://cdnjs.com/libraries/stacktrace.js/

[2015-04-03 20:31] thatgirlcancode commented on #88
i'm creating a nuget package, but would like to create one for the latest code. there hasn't been a release since Nov 2014. @eriwen are we close to another stable release? there seems to be no outstanding issues...

[2015-04-06 12:22] thatgirlcancode commented on #88
The version numbering is a little off due to a nuget publishing error, but it's out there now >> https://www.nuget.org/packages/stacktrace.js/

[2015-04-08 01:50] niemyjski commented on #88
+1 Thanks

[2015-04-16 22:21] niemyjski opened #114 "Please add typescript definitions."
This would be a huge help to the community.

[2015-04-16 22:36] niemyjski commented on #44
any updates on this?

[2015-04-16 22:37] niemyjski opened #115 "Latest release on npm/bower"
When will the latest code drop on bower/npm?

[2015-04-17 14:51] eriwen commented on #115
There are a few issues to address before 1.0 hits. I'm afraid that I can't do any more work on this project until I get approval from my company. 

In the meantime, if anyone is able to submit patches for any issue under the organization for milestone 1.0, that would greatly reduce the time to release.

On Thu, Apr 16, 2015 at 4:37 PM, Blake Niemyjski <notifications@github.com>
wrote:

[2015-04-17 14:56] niemyjski commented on #115
What kind of issues are there? Can you please elaborate? I was wanting to use 1.0 for our client https://github.com/exceptionless/Exceptionless
Is your company no longer supporting this project? Will there be someone to help maintain it?
Sent from Outlook

On Fri, Apr 17, 2015 at 7:51 AM -0700, "Eric Wendelin" <notifications@github.com> wrote:

There are a few issues to address before 1.0 hits. I'

[2015-04-17 15:02] niemyjski commented on #115
Are source maps working?

[2015-04-17 15:22] eriwen commented on #115
Simple source maps use cases are supported at this point. However, inline and multi-level source maps are not. See https://github.com/stacktracejs/stacktrace-gps/issues

On Fri, Apr 17, 2015 at 9:02 AM, Blake Niemyjski <notifications@github.com>
wrote:

[2015-04-17 15:25] niemyjski commented on #115
Thanks for the heads up. Is there anything blocking that I should be worried about going with and using 1.0? I'll be more than happy to fix any bugs I come across but I want to know that I'm not investing time in something that doesn't work after I get it integrated.

[2015-04-17 15:40] eriwen commented on #115
I'm not aware of any blockers. There may be some yet undiscovered edge-case
bugs, however I believe the core and dependencies are well tested. I
encourage you to check out the testing to convince yourself.

My personal email is on my GitHub profile if you have questions not used
for the issues page.

-Eric

On Fri, Apr 17, 2015 at 9:25 AM, Blake Niemyjski <notifications@github.com>
wrote:

[2015-04-17 15:55] niemyjski commented on #115
Thanks, I'm going to push ahead and use your library :). I wish there was a 1.0 alpha release so I could pull that down instead of doing a manual source import.

[2015-04-17 16:05] niemyjski commented on #115
If you could push one that would be a huge help to myself and others as setting up takes a lot to make sure I have everything imported.

[2015-04-17 16:13] niemyjski commented on #115
I was able to get it using this:

[code]

[2015-04-17 16:24] niemyjski opened #116 "Dependency on ES6-Promises"
I don't think there should be any polyfills or calls to polyfill calls for es6 promises in the code. This kind of goes against what a polyfill is (if it doesn't exist add it, not require it all the time). We are already using es6-shim and now have a second dependency for the same thing. I could see bringing it in for test setup but that's it, leave it up to the end user.

[2015-04-20 20:04] niemyjski opened #117 "Get stack trace from window.onerror."
It seems that tracekit automatically wires up to the window.onerror and gives you the stack trace in a callback (https://github.com/occ/TraceKit/blob/master/tracekit.js#L159). Can we do the same thing?

It seems like their implementation doesn't cover everything. This article looks like it covers everything you'd need to know: https://danlimerick.wordpress.com/2014/01/18/how-to-catch-javascript-er

[2015-04-20 21:01] niemyjski commented on #117
Seems to be a well known issue still: http://blog.errorception.com/2013/10/stack-traces-windowonerror-and-future.html

[2015-04-21 17:42] niemyjski commented on #116
Can we please make this change? I'd be more than happy to do the pull request for this.

[2015-04-21 18:12] eriwen commented on #116
I'd be willing to consider an implementation that only requires ES6 Promise if promises aren't already supported (via shim or native). Note that the library covers more than the current spec, so we have to be careful to avoid incompatible promise implementations.

[2015-04-21 19:50] niemyjski commented on #116
Considering most modern browsers support it or will really soon. I think we should be using the standard shim library that everyone should have installed.

We've GOT to trim the fat.. I just realized that my lib with an external dependency on:

*  'node_modules/es6-promise/dist/es6-promise.js',
*  'node_modules/stackframe/dist/stackframe.js',
*  'node_modules/error-stack-parser/dist/error-stack-pa

[2015-04-22 15:15] niemyjski commented on #116
Is there anything I can do to help rip the es6 promise dependency out and just use es6 promises (either supported by the browser or any shim http://caniuse.com/#feat=promises). If we are calling anything not in the es6 promises spec we should be putting it on the prototype.

[2015-04-22 17:17] eriwen commented on #116
I understand that you want to keep the library slim because you already have a shim, but I am intentionally adding/keeping the dependency so that stacktrace.js works in *all* major browsers without extra effort.

If you feel strongly about this, I recommend you maintain a trimmed-down fork.

[2015-04-22 17:19] eriwen commented on #115
We have a workaround until 1.0 is published because from here on we intend to maintain forward compatibility with 1.x

[2015-04-22 17:19] #115 closed

[2015-04-22 17:26] niemyjski commented on #116
People who use this library are developers who understand dependencies.. You are taking a hard dependency on a library that may not be needed and doesn't adhere to the spec. Also, your minified builds don't include it... Not only that but many people already have this library or another promise polyfill library and now you are duplicating 18KB.

I'd be more than happy to do all the work including

[2015-04-22 17:32] niemyjski commented on #116
It's not your responsibility to ensure your library doesn't work if a developer chooses not to use your polyfill of choice. Maybe he doesn't even need a polyfill if he can guarantee his app is using the latest internally.

[2015-04-22 18:01] PhilSwn commented on #116
Yeah, I'd second removing the polyfill.

[2015-04-22 18:06] keyvan commented on #116
At the very least, by principle you have to put this on vote to people can vote.

[2015-04-22 18:25] tekmaven commented on #116
+1

[2015-04-22 18:33] niemyjski commented on #116
Upon further looking into this forking really isn't an option as you have 5 different repos that would need to be forked and synced..

[2015-04-22 18:38] eriwen commented on #116
Ok, I'll consider a PR that removes es6 promise. Please refer to the contributing guide before submitting.

[2015-04-27 22:47] niemyjski commented on #116
Thanks, I'll work on getting this done shortly.

[2015-04-27 22:48] niemyjski opened #118 "Node Support"
I know that you recommended using this:https://www.npmjs.com/package/stack-trace however, I was wondering if this library will also work for node? Is there anything that won't work?

[2015-04-28 00:27] eriwen commented on #118
Fetching sources in stacktrace-gps would have to be handled in a node specific way. Anything referencing window (eg window.onerror) would have to be defensive.

Other than that, it should work.

[2015-04-28 01:14] niemyjski commented on #118
Would you even need to fetch sources for a node app? I'm not a node developer but I can't think of any reason why you'd want to uglify it can you?  Maybe for external libs?

[2015-04-28 03:29] eriwen commented on #118
Well you have to fetch source map files, at least.

[2015-05-01 15:38] niemyjski opened #119 "Node require issues with single file"
I need to distribute my app externally using a single file by concatting all of my dependencies: https://github.com/exceptionless/Exceptionless.JavaScript/blob/master/dist/exceptionless.es5.js

This works great for web, however when I went to create my node sample I ran into a bunch of issues when my require statement was hit: https://github.com/exceptionless/Exceptionless.JavaScript/blob/master/e

[2015-05-01 15:49] niemyjski commented on #119
If I change:

[code]
To:
[code]

It works. I think this could because I didn't know source-map-consumer is a dependency. From the looks of it that file is a node module and I didn't see it references from anywhere. It doesn't have a umd spec, and doesn't look like it would play nicely bringing it in. Recommendations?

[2015-05-01 15:51] niemyjski commented on #119
I think the dist builds should contain all external dependencies. This would save what it needs to take to bring it into your web app.

[2015-05-02 02:30] niemyjski commented on #45
Did anything ever come out of this?

[2015-05-02 03:09] devinrhode2 commented on #45
Not really, unfortunately. The most recent work I know of this is here:
https://github.com/devinrhode2/Shield.js

Now that we can write ES6 thanks to Babel, many things can be done
differently. iirc a key blocker for me was how to link up modules, which is
what my last commit had to do with. I'm sure we could make some great
progress pair programming sometime, if you or anyone is interested. My
sk

[2015-05-02 13:45] niemyjski commented on #119
I brought in the library as a test and had a ton of issues and even tried a few things. @eriwen  Do you have any recommendations on getting this working? I'm at a loss.

[2015-05-04 04:11] eriwen commented on #119
Agreed that dist/ should contain a file with all dependencies.

[2015-05-04 18:32] niemyjski opened #120 "umd always export StackTrace to global namespace"
I have the following code: https://github.com/exceptionless/Exceptionless.JavaScript/blob/master/src/plugins/default/ErrorPlugin.ts#L25 and it works great from the browser but under node it doesn't work. I'd like to share the same code for both. Do you have any recommendations for this without forcing requirejs.

[2015-05-14 15:20] niemyjski commented on #114
I've added typescript definitions here: https://github.com/borisyankov/DefinitelyTyped/pull/4339

[2015-05-14 15:20] #114 closed

[2015-05-16 10:52] mtford90 opened #121 "Problem with stack traces in anonymous functions on firefox"
Hi there,

e.g. with code like:

[code]

On chrome it looks fine:

[code]

On firefox there appears to be a `TypeError` screwing things up:

[code]

This is on firefox 38.0.1

[2015-05-16 10:55] mtford90 commented on #121
Actually I can't replicate this from within the JS console, maybe it's something to do with the way i'm bundling code, will investigate

[2015-06-05 06:24] mcm-ham commented on #108
I'm getting this error with `StackTrace.fromError` with an error object in an Ember app, here's the stacktrace of the original error object:

[code]

[2015-06-07 06:52] Aardvark71 opened #122 "printStackTrace is not defined"
When I'm trying the very basics (reference to the rawgithub stacktrace.js and calling
var trace = printStackTrace();.. (the basic example on http://www.stacktracejs.com) I get
"Uncaught ReferenceError: printStackTrace is not defined"
error.

I also see an error on the stacktrace.js file itself (Uncaught TypeError: Cannot read property 'polyfill' of undefined ; @stacktrace.js:12)...

Anything broke

[2015-06-07 07:02] Aardvark71 commented on #122
Oh... never mind... just installed stacktrace.js trough node packet manager (npm install stacktrace.js) and this gives me a completely different stacktrace.js file than the rawgithub ...
Works for me now

[2015-06-07 07:02] #122 closed

[2015-06-11 23:51] dvandusen opened #123 "Not as advertised...."
This appears to be a great tool, except that it is difficult to get started on.
It may because of the dependencies on polyfills or something, but just using the test from stacktracejs.com fails....

        <!DOCTYPE html>
        <html>
        <head lang="en">
            <meta charset="UTF-8">
            <title></title>
        </head>
        <body>
        <script type="text/javascript" src=

[2015-06-12 21:03] eriwen commented on #123
I'm sorry you had a bad experience. We just need to fix the link on the site to point to the stable version until v1.0 is released.

Also note that the only dependencies will be other parts of stacktrace.js (e.g. Error parsing or stack generation)

[2015-06-12 22:33] dvandusen commented on #123
I really appreciate your work and response - I presume Stacktrace is
usable, but where is the stable version?

On 6/12/15 5:03 PM, Eric Wendelin wrote:

[2015-06-13 01:27] eriwen commented on #123
Sorry, I should clarify that I mean the stable branch at

https://github.com/stacktracejs/stacktrace.js/tree/stable?files=1 

Grab stacktrace.js from there.

On Fri, Jun 12, 2015 at 3:33 PM, dvandusen <notifications@github.com>
wrote:

[2015-06-13 01:36] dvandusen commented on #123
Thx!

On 6/12/15 9:27 PM, Eric Wendelin wrote:

[2015-06-22 08:44] oliversalzburg commented on #109
Seems like this is fixed: https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/0.6.4/stacktrace.js

[2015-06-22 08:44] #109 closed

[2015-06-22 08:46] #88 closed

[2015-06-22 15:56] #118 closed

[2015-07-06 17:33] fcamblor commented on #96
:+1:

[2015-07-14 06:42] dandv commented on #123
As of now, the rawgithub link listed at http://www.stacktracejs.com/ fails with the `Cannot read property 'polyfill' of undefined` error, but the CDN version of the library listed in the README works. Perhaps update the website?

[2015-07-14 08:14] oliversalzburg commented on #123
@dandv A new website is already complete and will go live for the next major version of the library.

[2015-08-16 15:11] circuitrider commented on #116
Thank you very much. Polyfill would be cruft in my solution and I appreciate your work.

[2015-08-16 15:26] oliversalzburg commented on #116
This has been fixed in master and will land in the next release.

[2015-08-16 15:26] #116 closed

[2015-08-24 03:32] eriwen commented on #119
`dist/stacktrace.min.js` now includes all dependencies (and no polyfills)

[2015-08-24 03:32] #119 closed

[2015-08-24 03:35] eriwen commented on #104
Fixed for v1.0 with commit 4c9683d59c7bdeb42d1bbd73ae1972d91388e622

[2015-08-24 03:35] #104 closed

[2015-08-24 07:14] erezcohen commented on #123
Problem is, the documentation at https://github.com/stacktracejs/stacktrace.js is already updated to the new version, however doing "bower install stacktrace-js" installs the old/stable version. One has to dig into the source to realize there's no such thing as ```StackTrace.get()``` and that ```printStackTrace()``` needs to be used instead...

[2015-08-26 07:14] oliversalzburg commented on #44
Seems like the initial request is being taken care of by https://github.com/stacktracejs/stacktrace-gps Any outstanding issues with that project should be reported over there.

[2015-08-26 07:14] #44 closed

[2015-08-26 07:16] oliversalzburg commented on #101
@eriwen I have no experience with component. What was the problem that made you decide to remove the `component.json`?

[2015-08-27 17:47] oliversalzburg commented on #101
I pushed `component.json` files into all repos. I hope I was doing it right, because I have no experience with component at all.

@ronkorving Could you take a look at the files?

[2015-08-27 23:53] ronkorving commented on #101
For starters, your tags have to match your versions. Prefix v's and everything.
Second, your dependency versions have to match with their tag-names and are best left exact (not semver ranges), to be more compatible with older versions of component (I know we still deal with that in production).

You can test if it works by running:

[code]

Then looking at the `./components` folder it creates. It

[2015-08-28 07:26] oliversalzburg commented on #101
@ronkorving Cool. Thanks for your help.

I had noticed that `component install` didn't pull in the dependencies. I assumed that's because component only looks for tags, but doesn't really use the `component.json` that's in master.

I'll have another look at it shortly.

[2015-08-28 07:32] ronkorving commented on #101
Thanks :)

[2015-08-28 17:25] oliversalzburg commented on #101
Alright. The `v` prefix was only used on the main project. I pushed an additional tag for 0.6.4 (without `v` prefix) for the time being. Hopefully, @eriwen agrees that future releases should just be published without the prefix as well.

I also removed the semver ranges from the dependencies.

`component install stacktracejs/stacktrace.js` still only downloads stacktrace.js itself. I'm assuming th

[2015-09-11 17:10] cybermerlin opened #126 "damage link on wiki - Upgrading? Check the 0.x -> 1.x Migration Guide"
on page
https://github.com/stacktracejs/stacktrace.js
damage link on wiki - ```Upgrading? Check the 0.x -> 1.x Migration Guide```

And help me please, I was code:
[code]

how can I get stack now?

[2015-09-12 18:40] eriwen commented on #126
Ah, sorry about that.

You can find the very same [Migration Guide](https://github.com/stacktracejs/stacktrace.js/blob/master/MIGRATION_GUIDE.md) in the repo.

[2015-09-12 18:41] eriwen commented on #76
According to tests, this is working on master

[2015-09-12 18:41] #76 closed

[2015-09-13 18:45] eriwen commented on #82
v1.0 api now makes this unambiguous.

[2015-09-13 18:45] #82 closed

[2015-09-13 18:47] eriwen commented on #96
Fixed by 17cc2e93dd1507662f63c423a585c7affcb5bdca

[2015-09-13 18:47] #96 closed

[2015-09-13 18:48] eriwen commented on #117
This is documented in the [/stacktracejs/stacktrace.js/README.md](README). May consider this in the future if we can make it 100% reliable and useful.

[2015-09-13 18:48] #117 closed

[2015-09-13 19:33] eriwen commented on #101
Looks like this is going to be a bit tricky because we can't depend on `mozilla/source-map` directly (it doesn't have a `component.json` file. I think we'll have to distribute a bundled stacktrace-gps with source-map as a component to get around this.

[2015-09-13 19:37] XBDRX opened #127 "Resolving sourcemaps"
Hi

I'm using Gulp+Webpack+React.  I've added stacktrace.js to the mix but the exception files and line numbers are always reported in the bundles rather than the original files.

I've previously used stacktrace (stable build) with Gulp+Webpack+Angular without problem so am I just doing something wrong?

[2015-09-13 19:58] eriwen commented on #127
I'm going to assume that you're using the version of stacktrace.js that is on the master branch (basically 1.0 beta) which supports sourcemaps.

We got a question similar to this a few months back. They provided [an example repo](https://github.com/mbrgm/stacktrace-js-sourcemaps-example).

Depending on the reason sourcemaps aren't resolved, there may be useful information in the Promise errback fu

[2015-09-14 00:50] ronkorving commented on #101
Honestly, I'm starting to regret my request for component support at this point. I don't really want you guys to jump through crazy hoops to support a virtually dead technology to be honest.

[2015-09-14 01:44] eriwen commented on #101
If our users are using it, better to support it. I don't think it'll be tough to do what I suggested, but if it is then we can consider pulling `component(1)` support until we have more demand.

[2015-09-14 01:53] ronkorving commented on #101
I think I was the most vocal requester, not sure how many others are left. I wouldn't use component on any new project today, but I have some apps to maintain that use it and stacktracejs.

[2015-09-14 13:17] cybermerlin commented on #126
thanks.
but...
help me to understand for getting "stack" from last error if not have a Error, for example my sample in first post... earlier I just run printStackTrace() and has recieved the Error with stack trace (even if the browser not include stack trace in to Error)

[2015-09-16 09:29] cope opened #128 "Version?"
Maybe I missed it, but whats the current version of stacktrace.js? (https://github.com/stacktracejs/stacktrace.js/blob/master/dist/stacktrace.js)

[2015-09-16 09:38] oliversalzburg commented on #128
master is nearing the 1.0 release

[2015-09-16 09:52] cope opened #129 "printStackTrace is not defined"
The example from the website (http://www.stacktracejs.com/) throws an error:
`Uncaught ReferenceError: printStackTrace is not defined`

Can you please give a simple example of usage in the browser?

I tried to understand the examples from the README, but I just don't get them :(

[2015-09-16 09:54] cope commented on #128
Ah, I was under the impression that 1.0 was already out. I have my own cdn (kindof) and I have the 0.6.4 folder and a 1.0 folder and the code in that one was quite different from the latest, so I assumed, wrongly obviously, that this current code is 1.x or 1.0.x

My bad.

[2015-09-16 09:54] #128 closed

[2015-09-16 09:56] oliversalzburg commented on #129
Please note that that page refers to the 0.6.4 release, not the current master.

[2015-09-16 10:00] cope commented on #129
Ah, again my bad. I loaded 0.6.4 and then the example worked!

Thanks.

[2015-09-16 10:00] #129 closed

[2015-09-17 12:11] auchenberg commented on #127
Using https://github.com/mbrgm/stacktrace-js-sourcemaps-example/pull/1/files, I'm seeing some wrong request made by stacktrace.ks.js where the ``webpack://`` protocol prefixes are included.

From Chrome DevTools console:
![test-1](https://cloud.githubusercontent.com/assets/173559/9932642/d95620d0-5d45-11e5-940f-0307556b92ec.jpg)

Are these prefixes not supported, or is it a bug within ``stacktrace

[2015-09-19 18:06] eriwen commented on #126
@cybermerlin There are 2 ways you can handle this with v1.0.

The async way - Pass a `callback` function to `_Error` and use `StackTrace.get().then(callback)` wherever you were calling `printStackTrace()`. Note that `stacktrace.js` filters the stack for you and the stack is now a [StackFrame](https://github.com/stacktracejs/stackframe) object.

The synchronous way - Use [error-stack-parser](https:

[2015-09-20 22:25] eriwen commented on #127
This should be working correctly since https://github.com/stacktracejs/stacktrace-gps/pull/18 has been merged and pushed.

Would be awesome if someone other than I can confirm that.

[2015-09-21 01:02] eriwen commented on #101
Should be all fixed now. Please let us know if anything is missing.

[2015-09-21 01:02] #101 closed

[2015-09-21 08:20] auchenberg opened #130 "Feature: Option to disable sourcemaps resolving"
Feature request: Option to disable sourcemaps resolving, in order to minimize dependencies, as in my case I have moved the source maps resolving server-side.

[2015-09-21 13:20] eriwen commented on #130
You can call `StackTrace.get({offline: true})` and `StackTrace.fromError(error, {offline: true})` to prevent all network requests including source-maps.

Does this suit your need? The only thing you'd also lose is further analysis on the source-mapped source (which is minimal at this point but expected to improve if we integrate esprima)

[2015-09-21 13:36] eriwen commented on #126
Link fixed

[2015-09-21 13:36] #126 closed

[2015-09-21 13:36] eriwen commented on #123
Website and project are now polarized!

[2015-09-21 13:36] #123 closed

[2015-09-21 13:48] auchenberg commented on #130
Aha, interesting, but not exactly.

I probably need a build of stacktrace.js, that doesn't require stacktrace-gps in order to avoid the 50KB+ dependencies thats needed for sourcemaps.

[2015-09-21 14:44] eriwen commented on #130
OK. Well if you only need to support IE10+, you can use [error-stack-parser](https://github.com/stacktracejs/error-stack-parser) like so: `ErrorStackParser.parse(new Error())` and that will give you a stack from wherever you call it. Only 1.4K min-zipped :)

If you need IE9-, it gets a bit more complicated but we can work it out.

[2015-09-21 15:57] auchenberg commented on #130
Yeah, I ended up wrapping ```error-stack-parser ``` myself, but I'd really like to get IE8+ support.

On that note, do you have an overview of the differences between https://github.com/csnover/TraceKit and stacktrace.js? I'm having a hard time getting the overview.

[2015-09-22 03:28] eriwen commented on #130
IE8+ support isn't quite as difficult as I may have implied:

[code]

However, note that `StackGenerator.backtrace()` doesn't work under strict-mode. You can also steal part of the logic here if you want: https://github.com/stacktracejs/stacktrace.js/blob/master/stacktrace.js#L62

As for TraceKit, I haven't looked at it recently; my general understanding of the strategy there is to hook into as ma

[2015-09-24 15:16] ptitgraig commented on #85
Same here. +1 for this improvment.

[2015-09-25 16:07] eriwen commented on #130
@auchenberg Sounds like you have this worked out for now. Do you still think this is worthwhile? We're happy to provide this if you think it's useful.

[2015-09-26 15:10] auchenberg commented on #130
@eriwen Not completely, but thanks for the clarifications and help. It's much appreciated :)

[2015-09-26 15:10] #130 closed

[2015-09-27 04:39] eriwen commented on #112
Closing due to inactivity. Please reopen if there's interest.

[2015-09-27 04:39] #112 closed

[2015-09-27 04:41] eriwen commented on #79
Fixed in v1.0

[2015-09-27 04:41] #79 closed

[2015-09-27 04:46] eriwen commented on #121
Closing due to inactivity. Please reopen with a bit more info if anyone has interest.

[2015-09-27 04:46] #121 closed

[2015-09-27 04:47] #120 closed

[2015-09-28 13:01] schlaus opened #131 "Docs not available"
The docs (http://www.stacktracejs.com/docs/stacktrace-js) are not currently accessible. Console says http://www.stacktracejs.com/docs/index.build.js is giving 404.

[2015-09-28 15:17] eriwen commented on #131
The website switched to `#!` for navigation due to Google crawl errors. Docs are available at [http://www.stacktracejs.com/#!/docs/stacktrace-js](http://www.stacktracejs.com/#!/docs/stacktrace-js)

Could you please tell us what linked to http://www.stacktracejs.com/docs/stacktrace-js so we can correct it?

[2015-09-28 16:01] schlaus commented on #131
Ah, sorry for withholding that. As far as I can tell all the links at the main site http://www.stacktracejs.com point to the incorrect url.

[2015-09-28 16:07] schlaus commented on #131
And in addition it seems opening internal links in the docs to a new tab or copying a link's url also results in a version without the hashbang.

[2015-09-30 14:37] eriwen commented on #131
All should be good now. Please let us know if you see any other problems. Thank you!

[2015-09-30 14:37] #131 closed

[2015-10-09 16:30] orf opened #132 "Document dependencies"
Can you please document your browser dependencies somewhere? It seems I need to include the Mozilla source map library (https://github.com/mozilla/source-map/), but this maps to `window.sourceMap` and this library expects `window.SourceMap` and is not documented anywhere.

[2015-10-10 16:33] eriwen commented on #132
stacktrace.min.js should include all dependencies - perhaps you're using vanilla stacktrace.js?

May I know a bit more about how you're encountering this error so that I can reproduce it?

[2015-10-12 09:26] orf commented on #132
Awesome! I was using the un-minified stacktrace.js. I've now got it to generate proper stacktraces, and I cant express how useful those will be in our project (so a big thank you!)

One problem though, it appears the library is needlessly requesting the same .map and .js files over and over again, which causes a big performance drop. Here is my network panel after generating a stacktrace:

![image

[2015-10-12 15:33] eriwen commented on #132
Glad that worked.

The library intends to use the browser cache, but it looks like that's not always working. Do you happen to have a condensed example we can test against to fix this?

[2015-10-12 15:35] eriwen commented on #132
I've submitted https://github.com/stacktracejs/stacktrace-gps/issues/19 against stacktrace-gps for this new issue.

[2015-10-13 08:09] orf commented on #132
Sure, I will try and replicate it and post in that issue. Thanks!

[2015-10-13 08:09] #132 closed

[2015-10-13 08:20] sarker306 opened #133 "Problem in sending error report using Stacktrace.report"
I am using express 4.0 and I'm trying to send client side error from my angular app to server. I have exposed StackTrace as an angular service stacktraceService.

If I catch the error manually, and send them via a POST request like this:

         stacktraceService.StackTrace
            .fromError(exception)
            .then(function(stackframes){
                console.log(stackframes);

[2015-10-13 10:10] dvdcxn opened #134 "Undefined error when using .get()"
It seems the ErrorStackParser variable is undefined, throwing an error when required instead of generating a complete stacktrace when using the get method.

I'm not sure if the issue is my fault or not, some guidance would be appreciated.

Here's the..er..stacktrace of the error itself.

[code]

And here's my code block that the issue originates from.

[code]

[2015-10-13 10:29] oliversalzburg commented on #133
Can you check in DevTools what data is actually send?

[2015-10-13 13:47] sarker306 commented on #133
Before sending data, I console.logged the stackframes found from `fromError`, it logged nicely in browser console. From Network tab of DevTools, I found the request payload contains `[Object object]`. I am not exactly sure how to see inside this Object array being sent, though.

[2015-10-13 14:37] oliversalzburg commented on #133
I'm assuming `.report()` improperly serializes the input to string (by not doing anything). It should use `JSON.stringify` to convert the input.

[2015-10-13 15:39] eriwen commented on #133
I think you're right, @oliversalzburg. Would you have a bit of time to submit a PR for this? It should be noted that `JSON.stringify()` is IE8+ only so we may have to provide a polyfill in polyfills.js

[2015-10-13 16:59] oliversalzburg commented on #133
@eriwen Happy to do it. I've pretty much always used abstractions over XHR, so I'm not familiar with browser differences. Do you think a simple stringify will suffice?

For the polyfill, I'd probably go with [JSON3](https://bestiejs.github.io/json3/) if you don't have a different suggestion.

[2015-10-14 02:43] eriwen commented on #134
It looks like you may be using stacktrace.js without dependencies. I would recommend grabbing stacktrace.min.js from the [Releases page](https://github.com/stacktracejs/stacktrace.js/releases) unless you're getting stacktrace.js from bower or npm, in which case, please let us know.

[2015-10-14 02:51] eriwen commented on #133
@oliversalzburg My gut says a simple `stringify` will suffice. I don't think this an issue with our use of XHR - I've been using this method forever.

JSON3 seems like a good choice for a polyfill.

[2015-10-14 06:02] oliversalzburg commented on #133
@eriwen I'll try to submit a PR tonight, shouldn't be too much work. :)

[2015-10-14 13:04] dvdcxn commented on #134
There was an issue using wiredep via gulp, in which it would not inject the bower script reference correctly. I do have many other bower libraries injecting fine so it is unlikely to be an issue with my setup.

As a result, I had to manually include the stacktrace reference.

Having looked in my bower_components, I have 2 bower files, '.bower.json' and 'bower.json', neither list dependencies.

The

[2015-10-14 13:25] oliversalzburg commented on #134
Yeah, `bower.json` should list `error-stack-parser` as a dependency for this to work correctly. I'll send a PR tonight.

[2015-10-14 15:51] eriwen commented on #134
Wow, this is a rather glaring omission on our part.

Very sorry about this, @dvdcxn. We'll get it fixed very soon.

@oliversalzburg It looks like stacktrace-gps may have the same problem, and we may have to figure out how to handle the source-map dependency there since it's not registered in bower.

[2015-10-14 15:56] oliversalzburg commented on #134
@eriwen We can set a git URL as the dependency. That should work fine. I'll play around until I got something working :)

I might have to delay my pending PRs though. I'm still at work, working hard to push out the new major release of our product :P

[2015-10-15 16:38] oliversalzburg commented on #133
@sarker306 It would be cool if you could give #135 a try.

[2015-10-15 17:01] MikeSam commented on #134
+1

[2015-10-16 12:40] TwitchBronBron opened #137 "The "uses source maps to enhance stack frames" spec is not testing correctly"
in stacktrace-spec.js, the **"uses source maps to enhance stack frames"** spec doesn't seem to actually test using source maps.

The first thing that I would expect would be for the error to be thrown in a minified file (something like *path/to/file.js:1:450*). Right now the test expects the error to remain on the same line after the sourcemap enriching has happened (line 45, char 13). The whole p

[2015-10-18 12:01] sarker306 commented on #133
I tried this fix, and yeah, it works nicely. Thanks a lot.

[2015-10-18 14:01] #133 closed

[2015-10-18 14:02] oliversalzburg commented on #133
@sarker306 Awesome, thanks for verifying.

I will publish a new version next week unless I can squeeze it in tonight :)

[2015-10-19 02:26] eriwen commented on #137
Totally agreed.

Thanks for the great description @TwitchBronBron, we'll get this fixed.

@ssenbud you want to take this one?

[2015-10-19 02:27] #137 closed

[2015-10-19 18:46] #134 closed

[2015-10-23 12:29] gbaumgart commented on #127
just a question, how do disable loading source maps at all. i am already using source files....

[2015-10-25 22:10] eriwen commented on #127
@gbaumgart The best way to do that is to enable offline mode. All stacktrace.js methods accept `{offline: true}` which prevents all network requests. In the future, we may give an option to specifically disable source maps.

[2015-11-05 14:23] nirgal opened #139 "Please give a trivial usage example"
Hi guys, I don't quite know what you are smoking with nodeis and unsiversal support and so no and so forth, but I notice your project now have over 20 files, and no proper example.

I would like to have something like:
[code]

And I would very much appreciate a javascript file that one could actually use in a browser (remember?), like what was at http://www.eriwen.com/javascript/js-stack-trace/

[2015-11-05 14:45] oliversalzburg commented on #139
The files you're looking for are in https://github.com/stacktracejs/stacktrace.js/tree/master/dist. For everything else, please see the [documentation](http://www.stacktracejs.com/#!/docs/stacktrace-js) and the [migration guide](http://www.stacktracejs.com/#!/docs/v0-migration-guide).

[2015-11-05 20:34] nirgal commented on #139
The migration guide says you are using promises, and points at http://caniuse.com/#search=promises that says that it doesn't work on 2 third of browsers? Oo

I'm lost, the README says IE6+ is supported. Is the README outdated?

Am I missing something?

You realize that when you have a web site, you want it to work for all people, and 33% of users being thrown away is unacceptable, right? Are these

[2015-11-05 20:39] oliversalzburg commented on #139
Promises aren't *natively* supported in many browsers. Which is why stacktrace.js comes with a polyfill version, which allows it to use promises on all browsers.

[2015-11-05 21:42] nirgal commented on #139
How can I get or make that polyfill version ?

I am not much interested in an uglyfied version, I need the sources.

I noticed file `dist/stacktrace-with-polyfills.min.js.map` containing
`"sources":["es6-promise.js","json3.js","polyfills.js","stacktrace-gps.min.js","stack-generator.js","error-stack-parser.js","stacktrace.js"]`
Am I correct in assuming that you need to include these 7 files in that

[2015-11-05 22:20] oliversalzburg commented on #139
The repository currently does not contain an unminified version of the polyfill variant. You don't need to include additional files, they are contained in the polyfill variant. If you want to retrieve them anyway, you can do so by running `npm install` to pull in all dependencies.

[2015-11-06 10:06] nirgal commented on #139
But that so called polyfill variant, the only one that can be used in a web site, has no source.
And if I want the source, I need to install node ? This is really not cool.

I found out there still is a "stable" branch in this repository. I tried it and it works perfectly. The code is small, self contained. It also works with internet explorer using the callee.caller trick, that I suspect the so c

[2015-11-06 12:09] oliversalzburg commented on #139
So, you're fine with the old version then? Great! I guess, that means this ticket can be closed.

We are really very sorry that you don't like the new version and we would love nothing more than being able to convince you of its benefits. We understand that it's an unbearable burden to ask you to install Node on your computer to build a version of the file that you want. If only I could find a way

[2015-11-06 12:09] #139 closed

[2015-11-06 12:59] nirgal commented on #139
Have fun if you like, but it would be really great to:

- Provide an open source version that can be used in browsers, just like the stable branch does.

- Restore support for internet explorer and other browser that don't support exception.stack property, just like the stable branch does.

You want the lib in universal node whatever, ok. But when the library is no longer usable for simple cases,

[2015-11-07 20:47] eriwen commented on #139
@nirgal It sounds like all you want is one JS file to include on a web page and one simple method call to work in IE6+. It's still as easy as ever. Just:

Download [stacktrace.js with bundled dependencies](https://github.com/stacktracejs/stacktrace.js/releases/download/1.0.1/stacktrace-with-polyfills.min.js) and include it. Then write:

[code]
wherever you want. We had to make v1.0 asynchronous be

[2015-11-09 18:53] eriwen opened #140 "Make it clear that dist/stacktrace.js doesn't include dependencies."

[2015-11-10 08:56] mgolinelli opened #141 "Preload source maps before running promise on stackframes"
Hi,

Is it possible to preload source maps before running promises on each stackframes to avoid multiple ajax call on same resources (source map not yet in local cache) ?

Best

[2015-11-10 15:57] eriwen commented on #141
Couple options here:

1) stacktrace.js v1.0.1 should deduplicate network requests like ones for source maps. If you are using v1.0.1 and you're seeing duplicate requests for the same source map, that's a bug we'd like your example for fixing.

2) All relevant stacktrace.js methods have a `{sourceCache: {"http://foo.com/url.js.map": "(mapsource)"}}` option you can use to pre-populate the cache.

[2015-11-15 06:14] kiwenlau opened #142 "How to print "stack trace" within window.onerror using stacktrace.js?"
I want to use window.onerror to track uncaught error. And I want to print "stack trace" like this:

[code]

How can I print it within.onerror using stacktrace.js?

Following code does't work...

**onerror.js**
[code]

For your information, following are my html and javascript file used for test.

**test.html**
[code]

**test.js**
[code]

[2015-11-15 16:51] evilaliv3 opened #143 "Evaluate integration of Saucelabs in order to test cross-browser compatibility on commit"
It would be valuable to integrate with Saucelabs in order to track code coverage on commit.

Given that grunt and karma are used in the project, from a rapid analysis the interesting grunt package to be used is:  https://github.com/karma-runner/karma-sauce-launcher

This way it will be possible to automatically execute all the unit test on the selection of browsers targeted by the library (all) an

[2015-11-15 17:04] evilaliv3 commented on #140
I'm dealing with this same issue:
1) it is not clear that the following dependencies defined in package.json need to be included manually by the user:

[code]

2) the "es6-promise" is even not included as dependency an i discovered that i was requiring to include it manually to get it working on IE (now 9, 8, 10, 11) was working cause IE does not implement promises natively (http://caniuse.com/#se

[2015-11-15 17:05] oliversalzburg commented on #143
The project is already tested using SauceLabs: https://travis-ci.org/stacktracejs/stacktrace.js

[2015-11-15 17:11] evilaliv3 commented on #143
I see oliver thanks.

it should be valuable to export the results in the readme so to have them exposed?

[2015-11-15 17:30] oliversalzburg commented on #143
@evilaliv3 Good idea. Maybe @eriwen can take care of that, I'm still not very familiar with SauceLabs :(

[2015-11-15 17:52] eriwen commented on #143
The TravisCI build only passes if all tests pass in all browsers configured for Sauce (in karma.conf.ci.js)

@evilaliv3 are you aware of a nice way to present the individual browser results on the README with Sauce?

[2015-11-15 17:55] oliversalzburg commented on #143
Apparently, we could use:

[![Sauce Test Status](https://saucelabs.com/browser-matrix/stacktracejs.svg)](https://saucelabs.com/u/stacktracejs)

[2015-11-15 18:08] evilaliv3 commented on #143
exactly!

probably more version should be tested? and what about adding also android and safari under unit testing?

[2015-11-15 18:41] oliversalzburg commented on #143
Sounds reasonable. I see that those platforms are commented in `karma.conf.ci.js`. @eriwen do you know what that is?

[2015-11-15 19:04] eriwen commented on #143
Sometimes mobile browsers fail to start as well as older browsers. I don't think I've ever gotten IE6 to load on Sauce.

Another is that for some reason mocking Ajax requests on old IEs is difficult with Jasmine 1.x, and I've never gotten Jasmine 2.x to do what I want.

That said, we should try to enable as many as we can get reliably working. FWIW, I manually test old IEs and such using the old f

[2015-11-15 19:19] #140 closed

[2015-11-16 15:06] mgolinelli commented on #141
Dear eriwen,

In fact it works using StackTrace.fromError(error, { sourceCache : {}})
If you dont specify a sourceCache, the cache is 'rebuilt' for each stackframes:

 return function StackTraceGPS(opts) {
        if (!(this instanceof StackTraceGPS)) {
            return new StackTraceGPS(opts);
        }
        opts = opts || {};

        this.sourceCache = opts.sourceCache || {};
        this.

[2015-11-16 15:06] #141 closed

[2015-11-17 05:19] eriwen commented on #142
Could you be more specific when you say it "doesn't work"? Does it throw an Error, do nothing, or something else?

I notice that you are using "stacktrace.js". Perhaps you're not using "dist/stacktrace.min.js" which has dependencies bundled? That is a source of confusion we have corrected recently.

[2015-11-17 06:15] kiwenlau commented on #142
Thank you for your reply! I modified onerror.js and got what I want...

[code]

[2015-11-17 06:15] #142 closed

[2015-11-17 06:26] eriwen commented on #142
Great!

[2015-11-19 10:41] ghovmand opened #144 "ReferenceError: exports is not defined source-map.js:6:1"
Hi

When I install with `bower install stacktrace-js` and run my app, I get following in the console

`ReferenceError: exports is not defined source-map.js:6:1`

I use gulp to inject and serve the app which is an angular app.

Thanlks

[2015-11-29 23:11] eriwen commented on #144
Similar to what @oliversalzburg mentioned in https://github.com/stacktracejs/stackframe/issues/7 - please include `dist/stacktrace.min.js`. This is required due to how SourceMap is written, it must be built using something like webpack and cannot be independently included.

[2015-11-29 23:11] #144 closed

[2015-11-29 23:15] eriwen commented on #143
This commit https://github.com/stacktracejs/stacktrace.js/commit/3dc10e4239b200e7f317f648b38832e89483822b from @ssenbud addresses some of this. It turns out that we'll need conditional tests for IE8 and lower because we can't polyfill JS features required by SourceMapConsumer (specifically, ES5 getters and setters).

[2015-11-29 23:16] eriwen commented on #127
I believe the OP's request was fulfilled here. Please open a new issue if there is anything unaddressed here.

[2015-11-29 23:16] #127 closed

[2015-12-04 02:58] rayqian opened #145 "Is there any open source dashboard to display errors?"

[2015-12-04 03:33] eriwen commented on #145
Not that I'm aware of, but I'd hope this tool would make something like that easier.

[2015-12-04 03:49] rayqian commented on #145
@eriwen what's difference between stacktrace.js and https://github.com/csnover/TraceKit ?

My purpose is to gather client side errors, then send them to the server.

Stacktrace.js has more functions, but i'm not sure i need that.

[2015-12-04 05:20] eriwen commented on #145
My general understanding of the intent of Tracekit is to hook into as many native/jquery error handlers as possible and propagate through a pub/sub API. The internals of the 2 projects are fairly similar.

I'd encourage you to look at both seriously and choose the one you're most comfortable putting in production. It sounds like both may fulfill your need. I'm happy to answer any questions about s

[2015-12-05 22:53] eriwen commented on #145
@rayqian I want to note that stacktrace.js uses [stack-generator](https://github.com/stacktracejs/stack-generator) internally to support old browsers.

We were made aware of an IE-specific bug in Error parsing awhile ago, but that has been resolved. Also note that ehe usage of error-stack-parser has [risen sharply](https://www.npmjs.com/package/error-stack-parser) since its debut a couple months a

[2015-12-17 23:35] indolering opened #146 "Mention Polyfill Requirements In Docs"
I only need to support IE11+ and evergreen browsers.  Do I need a Polyfill?  The README.md should mention this.

[2015-12-17 23:39] indolering commented on #105
Theoretically, Closure Compiler would give you the same benefits, you would just have to add JSDoc notation or declare external functions globally using string notation: `window["string"]`.  But I don't have much experience in this area.

[2015-12-23 17:19] eriwen commented on #145
This issue isn't directly related to this project. Please email me (address on my profile) for any further discussion.

[2015-12-23 17:19] #145 closed

[2015-12-23 17:39] #146 closed

[2015-12-24 21:31] eriwen commented on #146
We've updated the `dist/stacktrace-with-promises-and-json-polyfills.min.js` file to be clearer about its contents and updated the downloads page.

I hope that satisfies this request.

[2015-12-27 07:36] kiwenlau opened #147 "How to get the "stack trace" string?"
I'm trying to **get the "stacktrace" string and return it** other than **log it in the console**. However, following code doesn't work...
[code]

[2015-12-27 15:59] oliversalzburg commented on #147
What do you mean when you say it doesn't work?

Also, there's a mistake in your `errback` function; an extra `;` in `console`.

[2015-12-27 16:05] kiwenlau commented on #147
@oliversalzburg Thank you.
*console.log(stringifiedStack)*before*return stringifiedStack;*just print *undefined*

[2015-12-27 18:46] eriwen commented on #147
@kiwenlau The reason `stringifiedStack` is `undefined` when you return it is because `StackTrace.get()` runs asynchronously, so `callback()` has not been called yet.

You'll see that if you comment `console.log(stringifiedStack);` back in _in both places_, you'll see `undefined` and then the stacktrace.

[2015-12-28 01:24] kiwenlau commented on #147
@eriwen Thank you!
Yes, it happens as you said.
[code]

[2015-12-28 01:41] kiwenlau commented on #147
The problems is how can I get the stacktrace string from callback()?

[2015-12-28 02:19] eriwen commented on #147
Well, you have gotten the stacktrace and printed it to the console, already :)

Consider what you want to do with the stacktrace when you get it. Do you want to display it on the screen, or call a function with it? I'm afraid returning it won't be very useful, you'll need to call another function to do what you want.

Does that help?

[2015-12-28 02:24] kiwenlau commented on #147
@eriwen I don't need to log it and I need to return it. And I don't know how to accomplish it...Thank you!

[2015-12-29 16:46] eriwen commented on #147
I suggest you consider what you're doing with the stack after you've "returned" it. Note that it's not possible to be `return`ed with the keyword. The asynchronous nature here dictates that you must provide a callback and that is the only way to "return" the stack trace.

`callback` does not have to be defined inline. It can be defined anywhere. You could pass the callback function to `getStacktra

[2015-12-30 04:33] #25 closed

[2016-01-04 06:58] kiwenlau commented on #147
@eriwen This is not I want. Thank you anyway! It seems to be impossible to return stacktrace string.

[2016-01-05 00:43] scamden opened #148 "stacktracejs creates new GPS instance for every fromError"
Because the sourceCache for stacktrace-gps is stored on the instance this causes sources to be refetched for every stackframe. Any chance we could somehow use a single instance of GPS so these files are cached? otherwise i'm not sure of the use of the GPS source cache.. maybe i'm missing something

for reference:
[code]

[2016-01-05 04:51] #147 closed

[2016-01-05 22:23] scamden commented on #148
@eriwen thoughts on this guy?

[2016-01-06 05:22] eriwen commented on #148
The original intent here was that we would be able to leverage the browser cache, but then allow users to override that cache (and offline mode). If we're not properly using the browser cache, that is a bug. If that is what you're seeing, could you provide a concrete example that might help us debug?

We could allow users to provide their own instance of `StackTraceGPS` which would be used instead

[2016-01-06 21:22] scamden commented on #148
so i am seeing it not returning from cache in the browser, i'll dig a little further to make sure it's not something on our end. that said it would be cool to have th option to use our own gps instance especially to ensure the cache

[2016-01-06 21:37] scamden commented on #148
soooooooo sorry about this. i actually had disable cache checked in chrome's dev tools.. it does appear the browser cache is working. i feel sheepish. it still might be worth allowing a single GPS instance in case we did want offline or the like. up to you on that but my hair on fire bug is solved :)

[2016-01-07 04:03] eriwen commented on #148
No worries, I've done the same thing.

I think providing a `gps` option is fairly easy implement and test, so it's a great way for someone to contribute. I'm going to leave this open with the hope that someone out there is motivated :)

[2016-01-07 19:07] scamden commented on #148
Right on, I'll take a whack at it next week :)
Sterling Camden

Sent from RelateIQ

On January 6, 2016 at 8:03 PMEric Wendelin<notifications@github.com> wrote:

No worries, I've done the same thing.

I think providing a gps option is fairly easy implement and test, so it's a
great way for someone to contribute. I'm going to leave this open with the
hope that someone out there is motivated :)

—
Re

[2016-01-07 19:39] yccteam opened #149 "Async stack trace"
Hi,
Is there a way to get the async stack trace back?

[2016-01-10 22:36] eriwen commented on #149
I'm afraid this library doesn't yet stitch stacks from async operations.

[2016-01-10 23:20] yccteam commented on #149
Thanks :)

[2016-01-10 23:20] #149 closed

[2016-01-14 22:33] scamden commented on #148
this could work: https://github.com/stacktracejs/stacktrace.js/pull/150

[2016-01-20 09:19] kallaspriit commented on #148
Bumped into this one as well. The solution for me was to provide the same initially empty sourceCache object to calls of StackTrace.fromError so the GPS would automatically populate it and not have to fetch the same file multiple times for each stack frame and also for consecutive calls to fromError.

[code]

Perhaps the documentation could be improved to include this tip

[2016-01-25 19:07] scamden commented on #148
@eriwen i guess given this we could probably just close my pr eh? unless you still see some value there

[2016-01-26 04:25] eriwen commented on #148
@scamden Yeah, I think we can close it. I really appreciate your willingness to contribute code.

@kallaspriit Thanks for the tip. We'll make sure to get this added to the docs.

[2016-01-26 07:35] scamden commented on #148
Happy to :)
Sterling Camden

Sent from RelateIQ

On January 25, 2016 at 8:26 PMEric Wendelin<notifications@github.com> wrote:

@scamden <https://github.com/scamden> Yeah, I think we can close it. I
really appreciate your willingness to contribute code.

@kallaspriit <https://github.com/kallaspriit> Thanks for the tip. We'll
make sure to get this added to the docs.

—
Reply to this email directly o

[2016-01-26 20:09] #148 closed

[2016-02-08 05:53] eriwen opened #151 "Improve docs for StackTrace.instrument()"
We should provide a full example here in the README and on the website.

[2016-02-08 06:16] #151 closed

[2016-02-08 18:55] kaushikvira opened #152 "1.0.2- Bower dist package has missing stacktrace.js"
in 1.0.2 version,  bower dist package has missing stacktrace.js file, there could be project that may be using non-minified file to run the tests.

This version will break those projects.

[2016-02-09 20:01] eriwen commented on #152
We removed the unminified version from dist/ because it did not contain dependencies.

I agree that we should better inform users about this or provide a bundled, unminified version.

[2016-02-15 22:44] Psychokrameur opened #153 "Integration with ExtJs / Sencha Cmd not working"
Hello,

I'm trying to integrate StrackTrace.js with ExtJs (https://www.sencha.com) and... it's not working.

My test case is the following:
- Build a standard ExtJs app (see docs here https://docs.sencha.com/cmd/6.x/touch/cmd_app.html, when Sencha Cmd is installed, you can only do the part "Creating a New Application")
- Modify app.json to add the reference to StackTrace.js

[code]
- In your termi

[2016-02-20 21:28] eriwen commented on #153
Thank you for the thorough issue. I have reproduced the behavior you describe.

When running StackTrace through the browser console, the file name of many stack entries will be `<anonymous>`. We have an issue filed to avoid this: https://github.com/stacktracejs/stacktrace-gps/issues/32 - once solved those 404s will go away.

The error caused by a lack of CORS headers from CloudFlare really require

[2016-02-22 07:57] Psychokrameur commented on #153
Thans @eriwen. I'll apply your proposed patch for now and wait for the resolution of the issue mentioned.

[2016-02-24 19:35] miked1090 opened #154 "Error in IE9"

[2016-02-25 01:48] #154 closed

[2016-03-05 05:28] keven425 opened #155 "How can I browserify require() the polyfill version using npm?"
I realize there are released min.js files for polyfill version (https://github.com/stacktracejs/stacktrace.js/releases). But how could I require it npm style?

[2016-03-10 09:13] arshtepe opened #156 "Browser support"
You have in "Readme":

but you use Promises, promises supported by this browsers http://caniuse.com/#feat=promises .
You can use this polyfill https://github.com/zloirock/core-js#ecmascript-6-promise

[2016-03-10 09:54] oliversalzburg commented on #156
It comes with a polyfill for browsers that don't support promises.

[2016-03-10 19:52] miked1090 opened #157 "Redownloads source map and minified file"
Hi, anytime I'm calling StackTrace.FromError() there is a network request to redownload the minified file AND the source map file. I am also using the newest version of stacktrace.

For now, the solution I've found is to set {offline: true } in the options, but this means the stacktrace just points to the minified file.

I've tried setting the sourceCache to the url of the source map,
also tried s

[2016-03-17 20:51] Smolations commented on #157
:+1: for this.  It is absolutely ridiculous to have to re-download the source file and the sourcemap file for every single stack frame in the trace. Minifying is most often used in bundling operations so it should be expected that the same file/map will occur multiple times in the same trace. I understand that each individual file is needed, but they should be cached until there is a page refresh

[2016-03-24 20:39] simonblt commented on #156
How come I dont have the same result with Edge, FireFox versus Chrome?
On chrome, lineNumber is like 40 under where its suppose to be. I got the right line and functioName with the other two.

Its an asp.net angularjs app and I use BundleOptimisation with Script with source map bundle.

[2016-03-24 20:45] SeigneurPaladin commented on #156
How come i dont have right linenumber with chrome and its fine with Firefox and Edge.
Im like 40 lines under where its suppose to be with Chrome.

I use bundle optimisation and script with sourcemap.

[2016-03-25 20:45] eriwen commented on #156
@arshtepe As Oliver pointed out, we distribute 2 versions of stacktrace.js: One with a Promises polyfill (specifically es6-promise) and one with no polyfill (for those who want a smaller library and have more modern users). I don't see any good reason to change the way this is handled.

@SeigneurPaladin Can you please file a separate issue with example code and stacktraces?

[2016-03-25 21:18] eriwen commented on #157
Acknowledged. We should do a much better job caching requests and responses by default.

[2016-03-25 21:22] eriwen commented on #143
Given how flaky Sauce has been giving us old IE instances (among other things) and the fact that we do have a good spread of browsers displayed for every project, I'm inclined to call that good.

If anyone has any objections, please speak up before March 28th.

[2016-03-28 14:37] SeigneurPaladin opened #159 "Browser support. Chrome is 40 lines under where its suppose to be."

[2016-03-28 16:41] zachlowry commented on #157
:+1: for this, it's preventing us from using stacktrace.js currently.

[2016-03-29 17:20] #159 closed

[2016-03-31 03:09] Smolations commented on #157
@eriwen A quick bit of research yielded a package that could be integrated with stacktrace-gps to help solve this problem:  https://github.com/kapouer/cache-debounce

[2016-04-01 17:34] #156 closed

[2016-04-01 19:17] #157 closed

[2016-04-01 20:04] evilaliv3 opened #160 "Missing changelog for version from 1.0.0 up to 1.1.0"
Halo! you are forgetting to write the changelog for versions from 1.0.0 up to 1.1.0! :)

is there some breaking change we should care about?

[2016-04-01 21:25] eriwen commented on #160
Thanks for the reminder. v1.1.0 was *just* published to npm - here are the changes: https://github.com/stacktracejs/stacktrace.js/commit/6dfe51fd3f4449cdb5d91f226d875abba4542e3e

[2016-04-01 21:25] #160 closed

[2016-04-07 11:50] rcorrie commented on #80
This was happening to me when I passed an `Object` instead of a `String`.

[2016-05-20 15:36] haf opened #164 "stacktrace-js mangles its output when used from other library"
I'm getting some really strange output from stacktrace-js when I run it in a browser:

<img width="426" alt="screen shot 2016-05-20 at 17 27 02" src="https://cloud.githubusercontent.com/assets/193115/15432979/a22f6594-1eb0-11e6-8846-ecf2be295b46.png">

I created a detailed question about this here: https://stackoverflow.com/questions/37350388/webpack-umd-seemingly-breaks-stacktrace-js-functionalit

[2016-05-23 02:36] eriwen commented on #164
I've reproduced the behavior described with the tests of logary-js, but haven't had the chance to reproduce with browsers yet.

I notice that you're using `inline-source-map` for webpack in testing but `source-map` otherwise. Perhaps that would explain the difference in behavior?

Aside, I think that [error-stack-parser](github.com/stacktracejs/error-stack-parser) may be sufficient for your needs

[2016-05-23 12:51] mavnn commented on #164
Hi @eriwen!
I'm working with @haf on this project, and I attempted to use error-stack-parser, which unfortunately exhibits the same behaviour.

Using source-map instead of inline-source-map also has no impact on behaviour (parsing succeeds in karma, but does not in the browser). If you have any other ideas we could try we'd love to hear about it!

Thanks for your time!

[2016-05-23 12:56] mavnn commented on #164
You can find the updated logary-js at https://github.com/mavnn/logary-js/tree/feature/error-stack-parser if that helps in investigations.

[2016-06-05 17:26] haf commented on #164
@eriwen Any news on this?

[2016-06-05 19:19] dtracers opened #165 "Is there an example of a synchronous version of the new stack trace?"
I really like the features the new one comes with but I am very dependent on it being synchronous and currently it seems like it is async.

Is a simple example of it being sync not async?

Also when using requirejs it won't work unless I create a source-map.min.js in the top level of every project I use the new version.  Is there a way to use it without adding source-map.min.js?

[2016-06-05 21:24] benjamingr commented on #165
Answered in http://stackoverflow.com/questions/37646228/make-the-new-stackjs-library-synchrnous

[2016-06-05 22:02] dtracers commented on #165
I was wondering if there was a to add back the synchronous version of the library so that I could just get the dumb stack trace that I then replace with the much more detailed stack trace.

I actually use exceptions like in java and so there will be some times where the exception can't really wait around for a trace to be grabbed bc you can't really tell the try catch to wait till all the promises

[2016-06-13 04:07] #165 closed

[2016-06-13 04:56] eriwen commented on #165
Wish granted! v1.3.0 adds `StackTrace.getSync()`. Note that it does not support source maps or do anonymous function guessing.

[2016-06-13 04:58] dtracers commented on #165
This is awesome! Thank you very much!

Now I can have it do the dumb one then asynchronous replace with the smart one!

Thank you! You guys are amazing!

[2016-06-13 15:29] eriwen commented on #165
@dtracers Thanks!

[2016-07-01 23:40] charlierudolph commented on #165
Thank you very much for this @eriwen. The synchronous version saved me from making some code very complex. I'm planning to refactor and eventually use the async version but this is exactly what I needed for now.

[2016-07-05 11:30] haf commented on #164
@eriwen Any news on this?

[2016-07-05 12:16] enekogb opened #168 "Provide a way to set custom headers in report function"
I'm using StackTrace.report to send errors to my server and i need a way to send more headers than the ones provided by StackTrace (i use Spring to protect a REST API against CSRF and i need to send a header called "X-CSRF-TOKEN").

Maybe StackTrace.report should have an "options" parameter where i could add my custom header:

`var options = { headers: { X-CSRF-TOKEN: 'xxxxxxxxxxxxxxxxxxx'}};
Stac

[2016-07-06 00:09] eriwen commented on #165
You're welcome @charlierudolph :)

[2016-07-06 10:36] kfirufk opened #169 "getting anonymous instead of function names."
Hi! this library looks interesting. I'm trying to fetch current stack trace with function names, lines of code and even with used parameters to functions.

it seems like I do get a small trace that shows a lot of functions with their parameters but it shows 'anonymous' instead, and it doesn't show the file and line that this was function was found in.

I'm using angular 1 in my client project in c

[2016-07-22 04:41] eriwen commented on #169
I'm sorry that the documentation has failed you here.Most users do want to use `StackTrace.get().then(callback).catch(errback);` as you said.

In order to figure out why you're getting `'anonymous'` for all of your function names, it'd be helpful if you could provide a sample of the output from stacktrace.js. Even better would be using `try { throw new Error(); } catch(e) { console.log(e.stack) }`

[2016-07-29 10:25] flyon opened #170 "not working with IE11? Cannot parse given Error object"
In IE11 I get this error: Cannot parse given Error object

    window.onerror = (message, file, line, column, errorObject) =>{
        StackTrace.fromError(errorObject).then(callback).catch(e => console.log(e));
    }

[2016-07-31 20:37] eriwen commented on #170
Could you please change your implementation to
[code]

and paste the output here? My guess is that there is a websocket URL and stacktrace.js is trying to resolve it, but I want to make sure.

[2016-08-16 17:13] haf commented on #164
Ping, any news?

[2016-08-16 18:04] oliversalzburg commented on #164
Is there any way to get a minimal reproducible example of this problem? All code posted so far is a nightmare and I am not surprised that the outcome is not as expected.

I cloned https://github.com/logary/logary-js/tree/uglify-js-options and the npm scripts don't work cross-platform, the karma config is written in CoffeeScript (and coffee-script is not included as a dependency), the whole thing i

[2016-08-16 20:31] haf commented on #164
Sorry you're having bad dreams about my code. I obviously don't think it's a nightmare, but each to his own. I can work with the constructive feedback you give.

 1. The npm scripts work cross platform AFAIK; can't see any reason for them not to? No absolute paths, only installed packages are called.
 2. Karma – do you need to use karma? Would it help if I rewrite it in JS?
 3. The whole point of

[2016-08-17 09:59] oliversalzburg commented on #164
1. Your npm scripts assume they're being run on a POSIX compliant shell, which is not the case on Windows OS. Here, npm will run them through the Windows Command Prompt, which does not understand having commands prefixed with environment variables. If one expects their npm scripts to be processed by a specific shell, the npm script should invoke that shell.

2. Given that, from what I understand,

[2016-08-17 12:18] haf commented on #164
I have every intention of making it work out of the box. It worked on my machine ;) and I haven't gotten your feedback before – now I will go and fix it! I'll let you know.

[2016-08-20 02:07] mitar opened #171 "[as func] suffix in Chrome for function name"
I see that I have a function which has `[as func]` suffix for function name in Chrome and node.js. Example of the stack:

[code]

Is this normal? Shouldn't this be removed/normalized?

I use Meteor and stacktrace.js 1.3.1.

[2016-08-22 18:55] oguzhaneren opened #172 "How to load stacktrace-gps with RequireJS?"
I want to try loading stacktrace.js with below configuration and its working. But I can't access stacktrace-gps from stackTrace module because its a different module. How can I load stacktrace-gps with RequireJS? (I assume stacktrace.js include all tools, its a bundle)

Thanks,

[code]

[2016-08-25 00:56] kvcrawford commented on #170
We're experiencing a similar problem.

The error only seems to be happening in IE11. Here's the error handling code

[code]

We set a breakpoint just before the try/catch block, to log some things out:

[code]

[2016-08-26 18:50] mb2140 opened #173 "Private source maps?"
I'm trying to think through an approach for using private SourceMaps with stacktracejs.  Since the error logger runs on the client, it needs to parse the SourceMap for accurate information - correct?  Is it even possible to do this privately?

[2016-09-06 14:38] RyanHow commented on #173
I can't see why you couldn't capture the stack trace of the minified version, send it to the developer. Then the developer then opens a page. You can paste the minified stack trace in and it can convert it back into a stack trace, then run the source map over it (which is available to the developer). Not sure how to convert the stack trace to JSON then back again though? Still would be not very au

[2016-10-05 14:30] kirillkostko commented on #173
I would love to have this feature too. I want to have obfuscated code and clear log message in the same time. Please let me know if I can help somehow.

[2016-10-27 20:13] logankd commented on #172
@oguzhaneren Did you get it working? I'm trying to do the same thing, but with typescript.
import {StackTrace} from 'Common/Libraries/stacktrace';

[2016-10-28 09:39] proProbe opened #174 "How to use offline sourcemaps"
Hello!

Im currently working on a `react-native` app and Im trying to integrate stacktrace.js with crashlytics that sends error messages from the phone to a service that enables me to have a better insight on what is going on. Im using stacktrace to get better tracing of the stack and have gotten it to work.

My question is how do I include a sourcemap? Im not totally sure how this should be done

[2016-11-23 19:53] ex1machina commented on #170
Has there been any movement or recent revelations on this error? I'm getting the same error in IE11 and a google search brought me here.

[2016-12-11 05:24] eriwen commented on #169
This hasn't had a response on months, so closing as dormant.

[2016-12-11 05:24] #169 closed

[2016-12-11 05:28] eriwen commented on #164
This issue isn't yet actionable and hasn't had a response on a few months, so I'm closing it as dormant. Please reopen it if a small reproducable example is developed.

[2016-12-11 05:28] #164 closed

[2016-12-11 05:29] eriwen commented on #153
https://github.com/stacktracejs/stacktrace-gps/issues/32 was fixed some time ago. Please reopen this issue if the problem persists with stacktrace.js 1.3.6 or later

[2016-12-11 05:29] #153 closed

[2016-12-11 05:30] #143 closed

[2016-12-11 08:06] haf commented on #164
It's completely reproducible and I had to wait 4 months before I even got a reply, though.

[2016-12-12 06:43] pranaymohan commented on #173
Any update/progress on this? Being able to use stacktrace-gps with private source maps would be great!

[2016-12-12 11:42] winterstein opened #178 "Would a non-async call be possible?"
## Expected Behavior

Would it be possible for an API that does a synchronous return (without using promises)? E.g.
`StackTrace.getNow() -> array of stackframes`

I understand that the results would be more limited, but probably still an improvement on the raw output from `new Error().stack`.

## Context

This would let me use it in code where the thread/async flow has to remain as-is.

[2016-12-12 14:29] eriwen commented on #178
[stacktrace.js v1.3.0](https://github.com/stacktracejs/stacktrace.js/releases/tag/v1.3.0) added `StackTrace.getSync()` that returns an Array of `StackFrames` just as you want. This does not do any source maps or function name guessing.

Please reopen this issue if this functionality is insufficient for you.

[2016-12-12 14:29] #178 closed

[2016-12-12 14:34] eriwen commented on #173
I'm trying to think of the best way to solve this. It seems like the only _really_ secure way is to have a node-based tool that loads source maps from the local filesystem. The problem with hosting source maps on the web in a "secret" location (the way Errorception does this) is that the URL is plain text and so is exposed in ways that passwords are not.

It would take me a while to find enough ti

[2016-12-12 15:06] winterstein commented on #178
Hello Eric,

Thanks for the fast reply!
Sorry I missed that function.

A minor suggestion: maybe include a reference to getSync() here?
https://www.stacktracejs.com/#!/docs/stacktrace-js

Thank you for making this project.

Kind regards,
 - Daniel

[2016-12-18 01:51] eriwen commented on #168
This is handled by https://github.com/stacktracejs/stacktrace.js/commit/2e8dbc2b41408af5a941270b2e1e8612b5a89261 and will be released in v2.0.0 soon.

[2016-12-18 01:51] #168 closed

[2016-12-18 01:55] eriwen commented on #171
@mitar We try to avoid normalizing in this library, but one can hook into [error-stack-normalizer](https://www.npmjs.com/package/error-stack-normalizer) to accomplish this. I think it'd be best to close this and open an issue on that project.

[2016-12-18 20:11] eriwen opened #179 "Polymer Element"
Wrap stacktrace.js as a [Polymer Molecule](https://elements.polymer-project.org/browse?package=molecules) and submit to elements repo.

## Expected Behavior
To Be Designed: Probably a `<stacktrace-js report="https://someerrorservice.com/report"/>` element that listens for events of a given type with Error data, parses and enhances the Error trace and reports to given `report` attribute.

## Curren

[2016-12-18 20:16] eriwen opened #180 "Switch to ESLint for formatting/linting"
JSCS has [joined with ESLint](http://eslint.org/blog/2016/07/jscs-end-of-life), so we should switch to that for linting.

## Expected Behavior
- [ ] Update package.json
- [ ] Migrate the current settings in `.jscsrc` to `.eslintrc` with equivalent rules.
- [ ] Update gulp config to use eslint instead
- [ ] Update travis CI config to run eslint

[2016-12-18 20:22] eriwen opened #181 "Switch to Yarn for dependency management"
[Yarn](https://yarnpkg.com/) is faster and more deterministic for dependency management.

## Expected Behavior
- [ ] Configure dependencies using Yarn and commit lockfile.
- [ ] Update [Travis CI config](https://gist.github.com/MrRio/5071b11a1d02bae30f70ab527c5f2529)

[2016-12-29 08:32] shikelong opened #182 "Can't get the correctly stackFrames array when use fromError"
## Expected Behavior

Get the stackFrames array contain the corrent function name and position info.

## Current Behavior

now:
[code]

my code:

[code]

## Context

I use webpack to bundle my project. use 'devtool: 'source-map'

## Your Environment

* stacktrace.js version: 1.3.1
* Browser Name and version:  chrome  Version 55.0.2883.87 m (64-bit)
* Operating System and version (desktop or mobile

[2016-12-29 08:39] shikelong commented on #182
I re run my project. now it's ok. But I don't know the reason.

[2016-12-29 08:39] #182 closed

[2017-01-16 08:31] ronkorving opened #183 "Changelog out of date"
I noticed the changelog has fallen behind a bit. Friendly request if it can be (and stay) updated :) I personally take a lot of queues from changelogs in order to decide whether to upgrade or not. Thanks!

[2017-01-17 14:45] bjentsch commented on #147
What about [`StackTrace.getSync`](https://github.com/stacktracejs/stacktrace.js#stacktracegetsyncoptional-options--arraystackframe)...?

[2017-01-26 12:17] alexmironof opened #184 "Only minified stacktrace-with-promises-and-json-polyfills inside dist folder"
In `dist` folder `stacktrace-with-promises-and-json-polyfills.js` and `stacktrace-with-promises-and-json-polyfills.min.js` are both has minified contents

[2017-02-01 13:53] maxbaluev commented on #173
any updates?

[2017-03-21 17:22] NathanGloyn opened #185 "Function names missing"
## Expected Behavior
When calling `StackTrace.fromError` expect stack trace frames to have the correct function name

## Current Behavior
Function names are null in the stack trace frames

## Steps to Reproduce (for bugs)
Using the following `error.stack`

"Error: BOOM!
    at AService.addFile (https://localhost:5555/app/service/aservice.js:122:15)
    at CreateService.addExisting (https://localho

[2017-03-22 09:39] NathanGloyn commented on #185
With fresh eyes this morning I've found the root cause of the issue.

In `_extractLocationInfoFromSourceMap` when calling ` mapConsumer.originalPositionFor` and creating the `loc` object the name property is always null.

Looking at the code lead me to `SourceMapConsumer_parseMappings` to see what the source map parsing was producing and basically the source map doesn't provide a name.

The upshot

[2017-04-07 01:05] fabiomcosta opened #186 "Version bump 1.3.2"
Hi I'm having some issues with function name detection that doesn't happen on the newest version of `stacktrace-gps`.
The new version of `stacktrace-gps` was already updated on `package.json`, so everything is working fine with `master` for me.
What are the plans on releasing a new version?
I wish I could help with that, but I can't really... my only option is to ask you to do that.

[2017-04-09 18:21] eriwen opened #187 "Consider changing license to MIT"
The reason I originally selected the Unlicense when this project began was to maximize use of the library. However, since then I've come to learn that such a license actually _prevents_ use and contribution by some organizations because Unlicense is not an OSI approved license and is a little risky legally.

I would like to consider changing the licensing to MIT as the best, most open alternative

[2017-04-09 19:48] webmink commented on #187
I'm not involved with the codebase but am an OSI director and am responding to being "paged" on Twitter. As it happens I recently published an article on this subject:
https://meshedinsights.com/2017/03/16/public-domain-is-not-open-source/

As you'll see, it supports your conclusion.

[2017-04-09 22:12] steren commented on #187
See here for the official Google internal documentation about contributing to open source projects: https://opensource.google.com/docs/patching/#stuff-you-cant-do

As you see, googlers are not able to contribute easily to projects under public domain license.

I support your proposal to change the license if this library.

[2017-04-11 09:13] Venryx opened #188 "Synchronous retrieval of source-mapped stack-traces"
It would be nice if the library could _synchronously_ return the source-mapped stack-trace of a "raw" stack-trace.

The first time you request the source-mapped stack-trace, of course, it has to be asynchronous since the source files have not yet been retrieved using AJAX.

**However**, every time other than the first time, it should be possible to perform the process synchronously. To make this b

[2017-04-11 10:52] Venryx commented on #188
Yay! I got it working synchronously.

I've included the instructions below, for anyone interested.

**Setup**

1. Add bluebird to your project: http://bluebirdjs.com/docs/getting-started.html
2. Replace the built-in `window.Promise` with bluebird's `Promise`:
[code]
3. Modify the `bluebird.js` file (for npm: `node_modules/bluebird/js/release/bluebird.js`), with the following changes:
[code]

Done

[2017-04-11 11:17] Venryx commented on #188
By the way, the switching above to bluebird Promises does lead to bluebird printing a warning message, because it thinks the promises that stacktrace-js creates in its handlers are "not being returned". (I'm not sure why, as the system is still fully functional)

Anyway, the messages are only printed once, the first time you request the source-maps for a file.

To ignore this warning, you can eith

[2017-04-11 11:58] Venryx commented on #178
@winterstein Just wanted to mention that it is possible to synchronously get the source-mapped stack-trace. See here: https://github.com/stacktracejs/stacktrace.js/issues/188

[2017-04-11 12:02] Venryx commented on #165
@charlierudolph Just wanted to mention that it is also possible to synchronously get the source-mapped stack-trace. It's not part of the API, but it's possible with some modifications. See here: https://github.com/stacktracejs/stacktrace.js/issues/188

[2017-04-11 12:03] oliversalzburg commented on #187
I am very much in favor of MIT. Your reasoning is spot-on.

[2017-04-11 12:23] winterstein commented on #178
Thanks - Daniel

On 11 April 2017 at 12:58, Stephen Wicklund <notifications@github.com>
wrote:

--
--------------------------------------
Dr Daniel Winterstein
Director
Edinburgh            +44 (0)772 5172 612
http://sodash.com   http://sogrow.co.uk

[2017-04-26 08:21] sebastientromp opened #189 "Long delay before callback gets called after StackTrace.fromError()"
Hello,

I've noticed that there is a significant delay for resolving the callback, about 15-70s between the time I do the call to `StackTrace.fromError` and the time the callback actually gets called.

I have an angular project, and to reproduce the issue I simply add the following line when booting up the app:

[code]

results in

[code]

Looking at what happens in the Chrome's Network tab, it lo

[2017-04-27 04:00] eriwen commented on #189
@sebastientromp consuming the source map is expensive, and I have implemented caching best I can think of to make it fast. If performance is an issue, I recommend using error-stack-parser by itself. If you _need_ source maps, you might consider a process that reports stacktraces for unmapped sources to your server, and then a separate process to get the source map and map the stack traces to the o

[2017-04-27 05:45] sebastientromp commented on #189
@eriwen That's a really good idea, and would fit my need perfectly. There is for now no urgency, but I'll have a look when I have time.
Just out of curiosity, are there specific tests for performance? Would you be open to PR that tests this?

Thanks again for all the work, it's a pretty awesome tool you're building here.

[2017-04-27 13:15] eriwen commented on #189
Yes, I'd love a PR with perf tests. Thanks!
On Wed, Apr 26, 2017 at 10:45 PM Sébastien Tromp <notifications@github.com>
wrote:

[2017-04-28 06:50] jogjayr commented on #189
@eriwen I'm encountering this issue also. My understanding is that since the sourcemap parsing is on the main thread and the UI freezes up completely while it happens.

I don't understand this all that well, but I wonder if here:

    get: function StackTrace$$get(opts) {
        var err = _generateError();
        return _isShapedLikeParsableError(err) ? this.fromError(err, opts) : this.generateA

[2017-04-30 02:12] eriwen commented on #189
@jogjayr I think that's a good idea, but we must do it in a backward-compatible way.

I'm happy to consider a PR with this, with bonus points if you can do some performance analysis that proves it's effectiveness.

[2017-05-01 04:41] eriwen commented on #186
v2.0.0 is tagged with 3a7a9ee6e617cf313933570697de74a39b24fd7f

[2017-05-01 04:41] #186 closed

[2017-05-01 04:42] eriwen commented on #187
Let it be written: c76dd7bb985f1f19d3f306fdfa2f54b8dbdb495a

[2017-05-01 04:42] #187 closed

[2017-05-01 04:49] eriwen commented on #184
Fixed with 5c82348

[2017-05-01 04:49] #184 closed

[2017-05-01 17:13] fabiomcosta commented on #186
Nice work! Thx!

[2017-05-18 21:14] buu700 opened #190 "Angular source map location detection failure"
Running my Angular CLI project (Angular 4.1.3, CLI 1.0.3) on Chrome 58, stacktrace.js gets confused about the locations of the relevant source map files.

Instead of requesting the correct paths (/main.js.map, /vendor.js.map, etc.), it sends out a handful of failed requests for what appear to be the names of my original TypeScript source files with the extension changes to .js.map before giving up

[2017-05-21 18:08] unlight opened #191 "Highlight the line which cause error"
I want to draw backtrace with highlight of errorred line, similar to this:

![](https://raw.githubusercontent.com/inikulin/callsite-record/master/media/example1.png)

## Possible solutions
1. Expose `sourceCache` object (wich contains file => mapped source) and let user do the rest of the job.
2. Implement renderers

[2017-05-22 18:15] lrvizentini commented on #191
4

Em 21 de mai de 2017 15:09, "Roman Vasilev" <notifications@github.com>
escreveu:

[2017-05-27 01:56] jogjayr commented on #189
@eriwen As a PoC I tried calling StackTrace.get inside of a WebWorker. It doesn't get the correct call stack. Rather than showing the call stack with the stack top being the line where the error originated, it gets the WebWorker's own call stack. I guess that makes sense; the call to the Web Worker isn't part of the same call stack where the error originated. Are you sure there's a way to use Web

[2017-06-12 17:33] tarr11 opened #194 "Incorrectly parsing code"
I am using `Function` to parse and eval some code in the browser.  I would like to use StackTraceJS to show errors to my users in the code editor.   My code is minified using Webpack/Uglify, but user code is not.  User code is executed in a sandboxed iframe.

## Expected Behavior
I expect that StackFrameJS should parse "anonymous" errors correctly.

## Current Behavior
StackFrameJS does not parse

[2017-06-23 14:39] odusseys commented on #189
I'd like to notify that we are running into the same problem with disastrous results. Calls to _parseMappings are making the entire UI freeze for upwards of 8 seconds in severe cases. We have been forced to remove stacktracejs as a consequence.

[2017-06-24 19:15] unilynx commented on #181
Are you sure you still need this now npm apparently has caught up with version 5 ?

[2017-06-25 02:23] eriwen commented on #181
No I don't think so

[2017-06-25 02:23] #181 closed

[2017-07-17 15:14] nfriend opened #195 "StackTrace.fromError() triggers a network request that results in a 404 and fails while trying to JSON.parse() the result"
## Current Behavior

I'm giving `stacktrace-js` a try in an Angular application that is bundled using webpack.  `stacktrace-js` (or more specifically, `stacktrace-gps`) is trying to get a `.map` file from my web server that doesn't exist.  Currently, my webpack setup outputs two files at the root of my app's directory:

[code]

`myapp.js.map` looks something like this:

[code]
My webpack config th

[2017-07-17 18:26] nfriend commented on #195
I've discovered this issue is the result of one of my dependencies ([angular-cache](https://github.com/jmdobry/angular-cache)) including its own `sourceMappingURL` comment in its output:

[code]

If I remove this comment from my build's output `.js` file, this issue seems to be resolved.  I'll close this issue since this doesn't seem to be an issue with `stacktrace-js` (although perhaps this shoul

[2017-07-17 18:26] #195 closed

[2017-07-25 10:09] egorowp opened #196 "Unmet peer dependency @angular/core@4.2.3"
On installing stacktrace.js via npm to angular 4.2.3 we have:
[code]

## Current Behavior
after `npm install stacktrace-js `I see:

[code]

## Steps to Reproduce (for bugs)
run `npm install stacktrace-js`

[2017-08-12 20:22] eriwen commented on #196
I'd love some help from someone with a bit more knowledge of the problem, so I'm going to mark this issue `help-wanted`

[2017-08-12 20:24] eriwen commented on #194
Thanks for the issue. Error parsing is done in `error-stack-parser`, so I'm moving the issue to that project.

[2017-08-12 20:24] eriwen commented on #194
Issue moved to [stacktracejs/error-stack-parser #38](https://github.com/stacktracejs/error-stack-parser/issues/38) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-12 20:24] #194 closed

[2017-08-24 08:51] nickasd opened #197 "SyntaxError cannot be parsed"
I'm currently using the following code to catch all kind of errors.
[code]
There seems to be a problem though with `SyntaxError`s (e.g. one line in my script contains some random characters). In that case, I get different behavior in different browsers.
In Chrome 60, I get this stack trace: `[{fileName: "SyntaxError: Unexpected identifier", source: "SyntaxError: Unexpected identifier"}]`. In Safar

[2017-09-03 21:07] embryologist commented on #170
same exact story here
[code]

[2017-09-03 23:06] embryologist opened #198 "not working with chrome? Cannot parse given Error object"
[code]

adding,
[code]

[2017-09-03 23:26] embryologist commented on #198
@eriwen, is this a new issue, I m using cdn lib

[2017-09-06 18:14] sh3nan1gans commented on #182
FYI - I just saw this issue with version 2.0.0. Ended up downgrading to 1.3.1 and all is well.

[2017-09-19 16:18] leo6104 commented on #196
This issue is not related with stacktrace.js because stacktrace.js package.json not include @angular/core @angular/router.
You should check other npm package (which is related with @angular/core, @angular/router).

[2017-10-18 15:38] rgfactory commented on #198
This error occurs if you throw a string. You have to do `new Error("your string")`.

[2017-11-15 18:25] ubershmekel commented on #198
@rgfactory an error may be in a 3rd party library, or a programmer made a mistake. A library designed to handle errors shouldn't break in the face of a common error.

[2017-11-15 19:25] 1-0-1 commented on #198
Just started using this and I'm getting this error, too.  I am getting it when passing back a Response from http in Angular 4.

[2017-12-20 06:19] embryologist commented on #198
I am closing this. the dev totally ignored it. I moved to angular and this project does not stop throwing weird errors left and right.

[2017-12-23 21:24] chandanaveen opened #199 "krtopvfd3e4pyysavctyulv"
## Expected Behavior

## Current Behavior

## Steps to Reproduce (for bugs)

## Context

## Your Environment

* stacktrace.js version:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

## Possible Solution

- [ ]

[2017-12-23 21:46] eriwen commented on #199
This seems to have been accidentally filed.

[2017-12-23 21:46] #199 closed

[2018-01-02 23:16] pawelpabich opened #200 "Allow to skip function name guessing"
First of all. Thanks for a great library!

Not sure whether this is happening only in my case, but the "guessed" names of functions are worse than what the JS runtime provides.  Would it be possible to add an option to skip the name guessing?

**Current**

![image](https://user-images.githubusercontent.com/347637/34503811-47f87618-f066-11e7-967c-c2f11fb98e9e.png)

**`findFunctionName` function ski

[2018-01-02 23:31] pawelpabich commented on #200
Also, happy to come up with a PR if that helps.

[2018-01-16 05:43] yanan-wu-crownbet opened #201 "Mention UI Intensive(Blocking) when tracing back to source maps"
In documentation, should point out, tracing source maps using
StackTrace.fromError() causes UI blocking a lot.
It seems like tracing source maps is a very CPU intensive job. Ideally everybody would avoid it.

[2018-01-16 11:54] toonborgers opened #202 "Angular5 Http error - Cannot parse given error object"
I'm creating an Angular5 app with Typescript and was trying to add stacktrace-js for proper error handling.

When I was testing my setup using a failing http request (404 response), I get an error from stacktrace-js that the error can't be parsed.

## Expected Behavior
The error can be parsed correctly.

## Current Behavior
The error can't be parsed.

## Steps to Reproduce (for bugs)
Set up an env

[2018-01-19 14:53] awesomehimanshu commented on #179
Any status on this ?

[2018-01-21 16:37] jean-emmanuel commented on #200
+1 :)

[2018-01-23 21:41] Splaktar commented on #202
I am seeing this as well. Interested in the proper way to workaround this or handle it.

[2018-01-23 21:49] Splaktar commented on #202
For now, I'm just not sending these Errors to stacktrace.js:
[code]

[2018-02-28 14:04] Vadorequest commented on #170
Using node 6.10, same issue in this particular case:

[code]

[code]

[2018-03-10 14:57] piscisaureus opened #203 "Off-by-one error when applying source maps"
Stacktrace.js misnumbers columns after applying a source map.

This is probably because the source maps spec says that lines and columns are 0-based, whereas browsers generally start counting at 1.

Strangely however the issue doesn't seem to affect line numbers, only columns.

Test case demonstrating the bug:

[code]

Script output:

[code]

[2018-03-14 19:43] jeffrose opened #204 "Add the TypeScript Declaration File to your distribution"
You have `stacktrace-js.d.ts` in your project but it isn't part of your distribution because it's not in the `files` entry in your `package.json`.

You should also add `types` and `typings` entries so it's automatically found.

[code]

[2018-04-20 19:41] ndesorden opened #205 "Bower package error 2.0.0 with stacktrace-with-promises-and-json-polyfills.js (not minified version)"
The not minified version downloaded with bower has issues, for example custom headers doesnt work with report function.

In fact this version has uglified code:

With bower:
stacktrace-with-promises-and-json-polyfills.js -> **47kb**
stacktrace-with-promises-and-json-polyfills.min.js -> 48Kb

With npm:
stacktrace-with-promises-and-json-polyfills.js -> 475kb
stacktrace-with-promises-and-json-polyfil

[2018-05-05 12:03] rquast commented on #189
Great library but experienced the same issues with the UI freezing. Wouldn't mind a webworker solution if anyone can figure it out.

[2018-05-09 18:31] giansalex opened #206 "Error in Parse url domain"
I have domain with dashes, but url result have only first domain word
MySite: https://aspnetbundle-prod.us-east-1.elasticbeanstalk.com/

![image](https://user-images.githubusercontent.com/14926587/39832611-4612c148-538d-11e8-9a48-ed55aa897837.png)

## Expected Behavior
https://aspnetbundle-prod.us-east-1.elasticbeanstalk.com/Scripts/app.js

## Current Behavior
https://aspnetbundle/Scripts/app.js

[2018-05-24 23:48] bradleyhamm commented on #206
Thanks for your report--I have the same issue. This URL parse issue appears to have been fixed in source-map@0.6.0: https://github.com/mozilla/source-map/commit/215590b9d09da7f72bf9763a074e6c0ccc0dfe1a#diff-efe561bdbff5cb09f13b5648ff47c376R740

A potential workaround may be to update an npm-shrinkwrap.json with source-map@0.6.1.

[2018-06-09 07:52] r3nya commented on #204
👍

Btw, `types` or `typings` … need to select only one.

https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-package

[2018-06-13 00:12] Matmo10 commented on #196
As mentioned above, Angular isn't a peer dependency of this library. This is due to your other packages, and is unrelated to stacktrace.js

[2018-06-25 10:43] niftylettuce commented on #205
Can we get more maintainers on this project?

[2018-06-25 10:51] niftylettuce opened #208 "Sourcemaps outdated in dist folder"
They are a year old, please update to latest <https://github.com/stacktracejs/stacktrace.js/tree/master/dist>

[2018-08-04 14:41] #206 closed

[2018-08-08 08:04] pendenaor opened #209 "get() triggers unsupported protocol schemes error"
When using `get` asynchronous method, Chrome chokes on *webpack-internal* unsupported protocol scheme.
Seems similar to #127, the only diff i see is *webpack-internal* instead of *webpack*.

## Expected Behavior
The source map requests resolve path without errors

## Current Behavior
`get` triggers an `stacktrace-gps.js?38bb:37 Failed to load webpack-internal:///./src/main.js: Cross origin request

[2018-09-19 11:09] JoeScylla commented on #202
With ExtJS i had the same problem.

This should be because in chrome user defined exceptions dont have a stacktrace by default. As there is nothing to parse `stacktrace.js` throws an error. To get a stacktrace in user definedexceptions you have to use the [V8 STacktrace API][1]; see: [Error.captureStackTrace()][2].

**Example with standard javascript:**

	function MyError(message) {
		this.message

[2018-11-03 08:27] gernotstarke opened #211 "https certificate invalid (on stacktracejs.com)"
your LetsEncrypt certificate was only valid until October 30th...

[2019-01-04 16:16] mavericshubham opened #212 "Arguments not getting populated in trace"
Arguments are not getting populated in stack trace. Even by calling getArgs()method the args are received as null.

[2019-03-08 16:23] midhun8454 commented on #170
guys am still facing error.. I am getting minified stacktrace.. and i use stacktrace'js with npm
           import StackTrace from 'stacktrace-js'
and then rest code look like this
componentDidCatch(error, errorInfo) {
if (this.props.logger) {
console.log(${error.stack})
}
}
Any one help me to find the exact code for converting minified trace to non minified

[2019-03-08 17:25] midhun8454 commented on #142
am not getting the unminified response for staxktrace.js? can anyone help me to dig out?
I have the min.error in this function and am logging this error
componentDidCatch(error, errorInfo) {log(error)//min.error}
How can i log unminified error?

[2019-03-08 18:10] midhun8454 opened #213 "Am not able to convert in to non minified response from minified in componentDidCatch"
## Expected Behavior
I have the error param in componentDidCatch,that is
componentDidCatch(error, errorInfo) {log(error)//min.error}
but that console.log is minified response,i want the same in non minified response,so that all developers can understand thr root cause.
## Current Behavior
having minified response only
-> I installed stacktrace via npm
->import StackTrace from 'stacktrace-js'
->use

[2019-03-11 11:39] AdrianMrn commented on #209
Any update on this one?

[2019-04-16 18:17] atdiff opened #214 "Still active?"
Is this project still actively maintained? Are there other alternative solutions?

[2019-05-08 09:28] capaj commented on #198
@embryologist how does closing the issue help?

[2019-05-08 20:59] ubershmekel commented on #198
@embryologist - I will open a separate issue if you keep this closed. Please re-open.

[2019-06-21 15:42] StephaneSeyvoz commented on #170
Hi,

I'm not using stacktracejs "as is", just [error-stack-parser](https://github.com/stacktracejs/error-stack-parser), and had a "Cannot parse given Error object" issue with IE11 as well.

When an error object is created in IE it doesn't contain a "stack" field at all, an Error needs to have been thrown for it to be defined in the resulting exception.

[code]

Console output:
[code]

This example

[2019-09-11 22:15] niftylettuce commented on #147
I think what he is asking is to get a stringified stack trace into a format that is similar to `err.stack`.  Calling `stackframes.map(sf => sf.toString()).join('\n')` does not yield the same format as `new Error('foobar').stack`.

[2019-09-11 22:35] niftylettuce commented on #147
e.g. be able to pass stack frames to prepareStackTrace : <https://github.com/nodejs/node/blob/6ce87c027dc2a16e1b8d85c753b52270ae0c6054/lib/internal/errors.js#L22-L44>

[2019-09-13 12:33] niftylettuce commented on #147
The `toString` PR has been submitted <https://github.com/stacktracejs/stackframe/pull/23>.

[2019-09-14 21:57] eriwen commented on #211
Sorry. Renewed this awhile ago. Thanks for the heads up.

[2019-09-14 21:57] #211 closed

[2019-09-14 21:57] eriwen commented on #204
Fixed by #207. Thanks!

[2019-09-14 21:57] #204 closed

[2019-09-26 15:22] pl-synth commented on #170
Hi
Had same issue with fetch, this fixed it.
`try {
    return await fetch(url).then(res => res.json());
  } catch (err) {
    onError(new Error(err));
    throw err;
  }`
Where `onError` is my function holding `StackTrace.fromError(error)`
Hope it helps :)

[2019-10-18 00:31] timelf123 commented on #214
What exactly do you need? It does what it says it will do, and has full test coverage

[2019-12-05 15:01] johannesjo opened #216 "Promise rejection: Cannot parse given Error"
This still seems to be an issue:

#198

[2019-12-05 15:51] niftylettuce commented on #216
Thanks man - I reopened the original issue.  Will look into this.

[2019-12-05 15:51] niftylettuce commented on #198
Re-opened.  We will resolve this.

[2019-12-05 16:21] johannesjo commented on #216
That's great! Thank you!

[2020-01-05 18:40] eriwen opened #217 "Provide a simple API to interact with window.onerror"
## Expected Behavior
Folks wanting to use stacktrace.js with `window.onerror` may want an API such as `window.onerror = Stacktrace.onerror(callback);` that calls the callback function with stack frames.

## Current Behavior
No such API exists

## Context
Requested in https://github.com/stacktracejs/stackframe/issues/20

[2020-01-07 04:05] eriwen commented on #214
Yes, I'm still here when I can find time :)

[2020-01-07 04:05] #214 closed

[2020-01-07 04:09] eriwen commented on #212
Error stacks do not include arguments. This library can only provide arguments when calling `StackTrace.generateArtificially()` and even then, arguments are abbreviated.

I'm going to close this for now, but if you have a specific example where arguments should be returned and are not, please comment.

[2020-01-07 04:09] #212 closed

[2020-01-07 04:34] #208 closed

[2020-01-07 04:49] eriwen commented on #180
This is done.

[2020-01-07 04:49] #180 closed

[2020-01-07 04:50] eriwen commented on #179
I don't think we'll get to this.

[2020-01-07 04:50] #179 closed

[2020-01-07 04:53] eriwen commented on #205
This should be fixed now in v2.0.2. See https://github.com/stacktracejs/stacktrace.js/archive/v2.0.2.tar.gz

[2020-01-07 04:53] #205 closed

[2020-01-10 17:58] johannesjo commented on #202
@JoeScylla not sure about this, but according to [this](https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Error) `new Error().stack` should be always undefined for a couple of browsers.

[2020-01-31 15:35] maggialejandro-rp commented on #174
Take a look at this https://github.com/invertase/react-native-firebase/issues/2327

[2020-03-05 19:51] robross0606 opened #218 "Way to convert StackFrames back into a traditional Error stack"
The API provides a way to parses an `Error.stack` into an array of `StackFrame`.  However, as far as I can tell, it does not provide a way to convert an array of `StackFrame` back into a simple `Error.stack`.

## Expected Behavior
The API should be able to convert either direction between an array of `StackFrame` and `Error.stack`.

## Current Behavior
The API can only convert `Error.stack` into a

[2020-03-10 19:09] robross0606 opened #219 "getSync() available but no fromErrorSync() available"
You have a synchronous method to get a StackTrace object, but not synchronous version for `fromError()`

[2020-03-24 04:12] martin-displayr opened #220 "Cert for https://www.stacktracejs.com/ expired"
The Let's Encrypt cert for https://www.stacktracejs.com/ expired 23 ‎February ‎2020

[2020-03-29 22:12] eriwen commented on #220
Thanks for the heads up. Looks like the renewal thing didn't work last time. Fixed now.

[2020-03-29 22:12] #220 closed

[2020-04-22 12:51] brillout commented on #191
Is there a way to achieve that? That would be wonderful.

[2020-05-07 22:13] xenoterracide opened #221 "inside of object, get class name"
I'm not certain if this is possible, but if the caller is a method, is it possible to tell that? would it then be possible to have

[code]

[2020-05-14 16:02] johannesjo opened #222 "Extremely high memory usage"
For a larger codebase with framework code (angular) I am using this module. When several errors are thrown and several stracktraces are requested in a short succession memory usage spikes absolutely out of control.

## Expected Behavior
Should require a little bit less memory per error.

## Current Behavior
Memory spikes out of control.
This is how stacktraces are requested.
[code]

[2020-06-25 15:07] kumaro opened #223 "define cannot be used indirect stacktrace-gps"
In angular9, I am getting the following error after installing StackTrace-Gps as a separate package to get unminifed location.

Uncaught Error: define cannot be used indirect
    at push../node_modules/webpack/buildin/amd-define.js.module.exports (amd-define.js:2)
    at Object.<anonymous> (source-map-generator.js:8)
    at Object../node_modules/source-map/lib/source-map/source-map-generator.js (s

[2020-07-06 17:49] clabough opened #224 "Angular 10 build warning - CommonJS or AMD dependencies"
## Current Behavior

When using stacktrace-js in an Angular 10 project, the build process now displays the following errors:

For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

For more info see:

[2020-07-10 16:00] Braunson commented on #220
Expired again, throws an error in Chrome. Cert expired on 6/24/2020.

[2020-07-18 22:29] eriwen commented on #220
Thanks @Braunson. The trouble with auto-renew is fixed. Sorry about that.

[2020-08-11 10:05] der-raist commented on #224
to supress this warning you could add an entry in your angular.json at path "projects/XXX/architect/build/options/allowedCommonJsDependencies"

[code]

[2020-08-19 00:07] clabough commented on #224
@der-raist Thanks for the workaround. I saw that in the Angular docs in the links about the warning. I'm hoping that this package gets updated to ECMAScript modules.

[2020-09-09 16:55] SuspendedPhan commented on #209
Having the same problem.

[2020-10-16 17:57] doubleUTF opened #225 "Add defensive code"
https://github.com/stacktracejs/stacktrace.js/blob/c12fccdbf21b8ecf215b35474070da1b1c23206d/stacktrace.js#L106

Would it be prudent to add defensive code checking here to make sure `ErrorStackParser` is not null when this function is being called? In my production, it's possible to invoke `fromError` when `ErrorStackParser` is not defined, which causes unhandled JS errors.

[2021-02-24 12:06] niemyjski commented on #225
Seems like the real issue is that `ErrorStackParser` is not set, can you submit a test case or snippet that will reproduce this behavior.

[2021-02-24 12:07] niemyjski commented on #222
@johannesjo would you mind attaching a snippet or unit test that would reproduce this issue so we could profile it.

[2021-05-03 00:59] KathRains opened #229 "Missing documentation!"
It's nowhere said that to use it in ES6 we should do the import like this:

[code]

[2021-08-04 13:22] lionelchauvin commented on #222
This line could be the culprit of high memory usage:
https://github.com/stacktracejs/stacktrace.js/blob/c12fccdbf21b8ecf215b35474070da1b1c23206d/dist/stacktrace.js#L2527

A big source file will be splitted each time a function name must be found.
Imagine what happen with a source file of 10Mb and a stacktrace with hundred of function names.

![120318906-b29c9080-c2e0-11eb-8de1-d1fe6a88c055](https:

[2021-09-02 14:04] niemyjski opened #230 "ESM Support"
Would it be possible to drop UMD and all other module formats for ESM in the next version. This is the main module format going forward and the one recommended for all new libraries (d3 even went esm only). While you can import CJS modules from ESM, generally some tooling may have issues with this.

reference: https://github.com/exceptionless/Exceptionless.JavaScript/issues/103

[2021-10-20 13:47] niemyjski commented on #230
@eriwen is there any plans to support this? There is a blocking issue in many new runtimes where cjs is no longer supported for esm environments.

[2022-03-04 16:40] michaelAtCoalesce commented on #222
we have had browser crashes recently when using the stack trace grabbing functionality - as well as performance issues when gathering stack traces.

[2022-03-04 18:48] niemyjski commented on #222
Would you mind submitting a pr with a fix, perhaps info could be cached.

[2022-03-09 13:03] nishantjoshtech commented on #173
Hi, Any updates on the feature request?

[2022-03-15 16:27] mmarekbb commented on #198
Has there been any progress on this issue? We now started getting it as well. This ticket has been open for almost 5 years.

[2022-04-08 04:27] michaelAtCoalesce commented on #222
i noticed that my .map file was 111megabytes, by reworking my webpack.config i was able to get it down to 1mb and i think that is helping reduce the amount of crashing thats going on.

to those in this boat, see if you can split your bundles to be smaller

https://medium.com/hackernoon/the-100-correct-way-to-split-your-chunks-with-webpack-f8a9df5b7758

[2022-04-08 04:31] michaelAtCoalesce opened #231 "runtime loading of source maps?"
is there a way to load source maps at runtime?

i'd like to store my source maps in a specific location on my webserver, say `build/sourcemaps/` - but i don't want to embed them with the sourceMappingURL comment so that customers can see it.

i'd like to, only when i need it, somehow configure the stacktrace.js to _only_ pull the sourcemaps at the moment that i need them from this hidden location

[2022-04-10 18:44] zacharylawson commented on #198
^^ 👀

[2022-05-05 22:57] OutdatedVersion commented on #231
In a browser environment, I think this would only defer the loading and those customers could see it in their network requests effectively making it theatre.

But, you should be able to generate your bundles with a `sourceMappingURL` targeting a remote source (i.e. some path on your webserver) and `stacktrace.js` will fetch it on demand (assuming `offline` is not `true`). Probably need some sort o

[2022-05-07 19:09] zacharylawson commented on #198
This error was being thrown for me due passing a string or `Response` to `StackTrace.fromError`. It'd be good from developer experience perspective if StackTrace caught things like this or raised a helpful error.

[2022-10-01 02:50] slynchDev opened #234 "stacktrace-gps opitonal?"
Really like your stacktrace.js lib. I'm using it simply to get uniform linenumber and filename info for a custom logger. It's working really well, however I'm getting 404s on the client-side console as stacktrace-gps attempts to retrieve the TypeScript source files (I don't publish the TS). Is there anyway to disable the gps component from fetching the source files?

[2022-10-02 19:35] slynchDev commented on #234
Actually, I misspoke. Now that I'm using the minified .js it's just trying to fetch my source TS (which I don't epose). I guess I just wanted to eliminate the errors associated with that. I'll try to figure it out...

[2022-10-02 19:35] #234 closed, assigned to nobody